[2020-09-10 07:23] 102092 opened #1 "[아이템 01] 생성자 대신 정적 팩터리 메서드를 고려하라"

[2020-09-10 07:23] 102092 opened #2 "[아이템 02] 생성자에 매개변수가 많으면 빌더를 고려하라"

[2020-09-10 07:24] 102092 opened #3 "[아이템 03] private 생성자나 열거 타입으로 싱글턴임을 보증하라"

[2020-09-10 07:24] 102092 opened #4 "[아이템 04] 인스턴스화를 막으려거든 private 생성자를 사용하라"

[2020-09-10 07:24] 102092 opened #5 "[아이템 05] 자원을 직접 명시하지 말고 의존 객체 주입을 사용하라"

[2020-09-15 14:00] 102092 commented on #1
- https://javabom.tistory.com/1 도 참고했을 때, 아마도 `static 자원은 JVM 클래스로더의 초기화 부분에서 할당된다` 문구를 통해, JVM을 통한 어떤 과정을 거치는 것 같은데, 이 부분에 대해 좀 더 설명해주실 수 있을까요??

[2020-09-15 14:27] david215 commented on #1
저는 JVM에서 어떻게 구현했는지는 잘 모르지만 일반적으로 프로그램이 로딩될 때에 static 자원을 위한 메모리 구역을 정해놓고 미리 로딩을 해놓는 것으로 이해하고 있어요. 책에서는 Boolean.valueOf()를 예시로 사용하는데 Boolean wrapper class는 가질 수 있는 값이 true / false 두 가지 밖에 없기 때문에 미리 정적으로 할당을 해놓고 Boolean.valueOf() 호출을 할 때마다 그에 대한 레퍼런스를 반환하는 식으로 이해했습니다.

추가적으로 flyweight 패턴과 연결을 지어서 설명이 많이 되어있던데 flyweight 패턴에 대한 간단하게 정리해주시면 좋을 거 같습니다.

[2020-09-15 14:54] david215 commented on #2
`abstract static class Builder<T extends Builder<T>>` 에서 보이는 recursive type parameter에 대해서 간단하게 설명해주시면 감사하겠습니다. 빌더 패턴이 상속 관계에 얽혀있을 때 구현하기 위해서는 기본적인 개념이나 문법을 이해해야 할 듯 하네요.

[2020-09-15 16:22] wooody92 commented on #1
@102092
JVM 메모리 구조에 대한 질문을 주셨는데요. @david215 이 답변을 잘해주셨는데 조금만 더 상세히 설명하겠습니다.

우선 애플리케이션을 실행하면 아래와 같이 Java 소스파일을 읽어 Java 바이트코드로 변환시켜줍니다. 그리고 Class Loader를 통해 Runtime Data Areas에 배치가 되는데요, 여기서 Runtime Data Areas 부분을 더 상세히 살펴보겠습니다.

<img width="749" alt="JVM2" src="https://user-images.githubusercontent.com/58318041/93234927-e0c05b80-f7b7-11ea-9e39-32805b995030.png">

Runtime Data Areas을 보면 여러 영역으로 구분이

[2020-09-16 05:36] david215 commented on #3
Serializable 인터페이스를 상속하는 클래스의 객체는 serialize(바이트 스트림으로 변환)해 (1) 파일이나 데이터베이스에 저장하거나 (2) 네트워크를 통해 전송할 수 있고 또 이 바이트 스트림을 deserialize해서 객체를 복원할 수 있습니다. 사실 우리는 일반적으로 (1) Spring Data JDBC나 JPA 등을 사용해 DB에 저장하고 (2) JSON을 만들어서 전송했기 때문에 쓴 적이 없고 앞으로도 쓸 일이 있을지는 잘 모르겠으나? 자바 지식을 확장하는 의미에서 알고가면 좋을 듯 합니다.

잭이 transient keyword나 싱글턴임을 보장하기 위해서는 왜 readResolve() 메소드를 추가해야 하는지 등의 디테일한 부분들에 대해서 간단하게 정리해주시면 좋을 거 같아요.

[

[2020-09-16 05:38] david215 commented on #3
마지막으로 Joshua Bloch이 가장 추천하는 enum으로 구현하는 싱글턴을 잘 활용하기 위해서 인터페이스 상속을 enum 클래스에 적용하는 방법 / 예시도 있으면 :+1:

[2020-09-16 14:30] 102092 commented on #1
@david215 @wooody92 설명 감사합니다. 어렴풋이 알았던 내용들에 대해서 이해가 된듯 해요!

이 설명에 대해 좀 더 설명해주셨으면 좋을 것 같아요.
이렇게 봐서는 어떤 의미인지 잘 이해가 안되네요. ㅠㅠ

그리고 동반 클래스 companion class가 어떤 것인지도 한번 알려주실 수 있나요?

[2020-09-17 03:36] guswns1659 commented on #1
5번째 장점을 설명하면서 JDBC에 대한 예시가 나오는데 제가 이해한 내용이 맞을까요?

반환타입을 JDBC 인터페이스로 정하면 각 데이터베이스 벤더(오라클, MySQL)가 JDBC 인터페이스를 구현하는 구체적인 클래스가 생성한다. 그렇기 때문에 정적 팩터리 메서드를 작성할 시점에는 반환할 구체적인 클래스가 존재하지 않는다. 해당 JDBC 인터페이스를 사용할 때 정해지기 때문이다. 다형성과도 관련이 있어보이네요

[2020-09-17 10:21] wooody92 commented on #2
비슷한 질문으로 추상 클래스로 `abstract static class Builder<T extends Builder<T>>`를 만들고 상속하여 사용하는 과정이 잘 이해가 안가는데요.. 저희가 이해하기 쉽도록 간단한 예제를 만들어서 이야기 해보면 좋을거같아요.

[2020-09-17 10:51] wooody92 commented on #1
@david215

Flyweight 디자인 패턴의 경우 깊게 들어가는 것은 yak shaving 인 것 같아 간단하게 개념만 이해하고 아래 링크를 남겼습니다.

- Flyweight 개념

[code]

[Flyweight 패턴 블로그](http://astrod.github.io/design_pattern/2017/05/07/Flywegiht-%EB%94%94%EC%9E%90%EC%9D%B8-%ED%8C%A8%ED%84%B4/)

[2020-09-17 11:07] david215 commented on #4
자바에서는 함수가 클래스 외부에 존재할 수 없기 때문에 유틸리티 클래스를 정의해야 한다는 점이 재밌네요. 기존의 절차지향적 언어들이나 (예: C, 연장선인 C++) 함수가 일급객체인 언어들 (예: Python)은 클래스 외부에 있는 함수를 레퍼런스하는 것이 가능하기 때문에 인스턴스화 하지 않을 개념을 클래스로 정의하는 것이 부자연스러운 것이니까요. 언어가 가지고 있는 한계점을 best practice로 보완하는 게 흥미롭습니다.

추가적으로 우리가 배운 스프링, 특히 DDD와 연결지어 생각하면 유틸리티 클래스를 사용하기 보다는 서비스 객체를 만들어 사용하는 게 더 자연스러워서 유틸리티 클래스를 정의해서 사용했던 경우는 스프링을 잘 몰랐던 초반 이후로는 잘 없었던 같기는 하네요.

[2020-09-17 11:25] david215 commented on #4
기본 생성자의 동작 방식과 서브클래스에서 슈퍼클래스의 생성자가 적용되는 방식이 잘 정리된 [링크](https://stackoverflow.com/a/2054040/10709152)

[2020-09-17 11:28] wooody92 commented on #1
@102092

말 그대로 이전에는 아래와 같이 인터페이스에서 정적 메서드를 선언할 수 없었습니다. 그래서 동반 클래스를 이용하여 정적 메서드를 정의했습니다.

[code]

그러나 Java 8 이후로 인터페이스에서 정적 메서드 선언이 가능해지면서, 아래와 같이 사용이 가능 해졌습니다.

<img width="806" alt="static-method" src="https://user-images.githubusercontent.com/58318041/93464010-7f1d0000-f923-11ea-8752-622d9f5ac62e.png">

동반 클래스(companion class)의 경우 관련 정보가 많이 나오지는 않는데요, 우선 인스턴스로 만들 수 없는 클래스 정도로만 이해하시면 될 것 같습니다. (

[2020-09-17 11:31] wooody92 commented on #1
@guswns1659

질문해주신 5번째 장점같은 경우에는 저도 명확하게 이해가 안가서.. 오프라인 모임 때 같이 애기해봤으면 좋겠습니다.

[2020-09-17 13:56] 102092 commented on #4
@david215

이렇게 쓰신 건, 함수가 일급객체인 언어들은 클래스 외부에서 함수를 참고하는 것이 가능하기에, Item4에서 정의하고 있는 클래스의 인스턴스화를 막는 개념? 컨셉? 자체를 생각하는 게 이상하는 뜻인가요?

[2020-09-17 14:00] 102092 commented on #4
상위 클래스에 기본 생성자가 없거나, 접근이 불가능하다면 하위 클래스의 생성자가 호출된다 정의되어있지 않으면 에러 발생함.

링크주신 것에서는 이게 핵심인듯 한데.. 제가 이해한 게 맞을까요

[2020-09-17 14:11] 102092 commented on #2
여기서 객체의 일관성이란 어떤걸 의미하는 걸까요....?
-> 아마도 생성된 객체가 setter를 통해 변화가능함을 의미하지 않나 싶네요. 그 다음 문단에서 javabeans setter, final class등이 나오는 걸 보니까..

[2020-09-18 02:25] david215 commented on #4
클래스라는 개념 자체가 객체의 성질을 정의하기 위해서 존재하는 것인데 인스턴스화를 막을 이유는 (1) 싱글톤이거나 (2) 원래 **객체**가 아니었다 둘 중 하나인데 애초에 개념적으로는 유틸리티 클래스는 유틸리티 **클래스**가 아니었어야 하지만 자바의 언어적 한계상 클래스로 정의된 거죠.

[2020-09-18 02:49] david215 commented on #4
아이템 주제와 연결지어서 더 풀어서 얘기를 하자면:
- 클래스 안에 private 생성자를 정의하면 컴파일러가 기본 생성자 (no-arg constructor)를 만들지 않음.
- 클래스에 접근 가능한 생성자가 없는 경우 클래스를 상속하는 것이 원칙적으로 봉쇄됨.
  - 이유는 하위 클래스 생성자에서는 명시적으로든 암시적으로든 super()를 호출하게 되는데 접근 가능한 생성자가 없기 때문에 에러.
- 결과적으로 API 유저는 클래스의 private 생성자에 접근이 불가능하기 때문에 생성할 수 없고 또 이 클래스를 상속해서 생성할 수도 없기 때문에 인스턴스화를 원천봉쇄.

[2020-09-18 05:06] guswns1659 commented on #3
# 자바의 Serializable

## 무엇인가?
- 자바 시스템 내부에서 사용되는 객체 또는 데이터를 외부의 자바 시스템에서도 사용할 수 있도록 바이트(byte) 형태로 테이터 변환하는 기술과 바이트로 변환된 데이터를 다시 객체로 변환하는 기술(역직렬화)를 통칭하는 말을 의미한다.
- 동작 원리를 말하자면 런타임 메모리 영역(힙) 에 상주하고 있는 객체 데이터를 바이트 형태로 변환하는 기술과 바이트 형태의 데이터를 다시 객체로 변환해 런타임 메모리 영역에 상주시키는 기술을 의미한다.

DB의 Serializable은 여러개의 트랜잭션이 동일한 데이터를 접근할 때 트랜잭션의 결과가 마치 하나씩 처리된 것처럼 나오는 격리 수준을 의미한다. 일렬로 하나씩 처리된 것처럼 나오는 현상의 의미가 크다. 단점은 동시

[2020-09-18 05:40] guswns1659 commented on #3
# 싱글턴 직렬화를 위한 Transient와 readResolve() 구현

## Transient란
- 해당 데이터(객체 등)을 직렬화할 때 제외하고 싶은 경우 선언하는 키워드이다.
- 패스워드와 같은 보안정보가 직렬화되는 것을 막을 때 사용할 수 있다.

### Transient 실습

- name 필드에 transient 추가

[code]

- Account 객체 직렬화 및 역직렬화 진행

[code]

## 역직렬화 결과
- transient 필드가 null로 역직렬화된다.

![image](https://user-images.githubusercontent.com/55608425/93560291-c99e8b00-f9bc-11ea-8b45-80b5e367fd39.png)

## readResolve

[2020-09-18 07:03] guswns1659 commented on #3
@david215 enum으로 구현하는 싱글턴 예제는 조금 더 공부해서 정리해보겠습니다!

[2020-09-18 12:19] kses1010 commented on #2
@david215
Recursive type parameter 즉, 재귀적 타입 한정이라고 부릅니다. 재귀적 타입 한정을 이용하는 제네릭 타입을 사용하면 추상메서드 self를 지원하여 하위클래스에서도 형변환 하지 않고도 상위타입에서 구현한 메서드를 연쇄적으로 호출할 수 있다고 합니다.

아이템30에서 Comparable 인터페이스를 소개하면서 재귀적 타입 한정을 소개하고 있습니다.

[code]

타입 한정인 `<E extends Comparable<E>>` 는 "모든 타입 E는 자신과 비교할 수 있다" 라고 읽을 수 있습니다. 그렇다면 `Builder<T extends Builder<T>>` 는 "모든 타입 T는 자신과 빌더를 사용할 수 있다." 라고 읽을 수도 있겠죠.

하위 클래스에서 타입 캐스팅없이

[2020-09-18 12:21] kses1010 commented on #2
@102092
객체의 일관성은 클라이언트가 일관된 접근 방식을 이용하여 일관된 접근 방식을 제공하는걸 의미합니다. 일관성이 없으면 접근방식(변수에 직접 사용, 엑세스 함수 사용)에 주의력을 소진하게 되어, 뒤에 있는 버그가 있을 경우에 찾기 힘들어집니다.

자바가 멀티쓰레드 환경이라 setter를 쓰면 일관성이 깨지는 게 개발자들 이야기입니다. 객체가 유효하지 않은 상태를 가질 수 없도록 하는 것이 바람직한 설계이고, 생성자 주입으로 유효성 검사와 함께 필수값을 모두 제공하고, 추후에 불필요한 값 변경을 금지하도록 하고 있습니다.

그 중 빌더 패턴은 매개변수가 많을 경우에 사용하는게 좋을 듯 합니다.

[2020-09-18 12:25] kses1010 commented on #2
@102092
일관성에 대하여 아이템17을 보면 변경 가능성을 최소화하라고 합니다. 클래스를 불변으로 만들라고 정합니다.
여기서 클래스 불변으로 만드는 다섯가지 규칙이 있습니다.
1. 객체의 상태를 변경하는 메서드를 제공하지 않는다. -> 아마 setter를 의미하는 것 같습니다.
2. 클래스를 확장할 수 없도록 한다.
3. 모든 필드를 final로 선언한다.
4. 모든 필드를 private로 선언한다.
5. 자신 외에는 내부의 가변 컴포넌트에 접근할 수 없도록 한다. (여기서 무슨뜻인지 몰라서 넘겼습니다.)

[2020-09-18 12:32] kses1010 commented on #2
@wooody92
A: 자바봄에서 본 예제에서는 카드를 예시로 하여 표현했는데 간단한 예제는 어떻게 구현을 해야할지 모르겠습니다. EnumSet존재와 재귀적 타입 한정이 어려운 관계로 구현이 어렵네요. 여기에 대해선 스터디할 때 같이 이야기를 나누었으면 좋겠습니다.

자바봄을 바탕으로한 구현은 다음과 같습니다.

PayCard.java

[code]

KakaoCard.java

[code]

[2020-09-18 12:35] 102092 commented on #4
모호하던 부분이 확실하게 이해되었습니다 ! 💯

[2020-09-18 12:42] 102092 commented on #5
1. java8에서 나온 Supplier라는 인터페이스에 대해 간단하게 나마 설명해주시면 감사하겠습니다!

2. 한정적 와일드 타입을... 이건 아마도 `Supplier<? extends Tile>` 코드를 설명하는 것 같은 데 제가 이해한 바로는 `Tile` 클래스를 상속받는 클래스라면 모든지 가능하다? 라는 의미같은 데, 아마도 1번의 설명과 맞물려서 ... 한번 이야기해보면 좋을듯 합니다.

[2020-09-18 12:50] 102092 commented on #3
**리플렉션**이 어떤 건지 간단하게나마 개념만 알면 좋을듯 해요.. 이건 advancend한 걸로 생각됩니다.

[2020-09-18 12:55] 102092 commented on #2
@kses1010

아마도 멤버 변수의 접근 제어자를 private하게 선언하라 라는 의미 같아요.
맥락상 가변 컴포넌트라는 게, 멤버 변수보다 더 넓은 의미라고도 보여지긴 하는 데.. 제 생각은 그렇습니다.

[2020-09-18 14:13] david215 commented on #5
Supplier 인터페이스만 분리해서 보기 보다는 전체적인 functional interface의 구조를 보면 자연스럽게 이해가 될 거 같네요. [java.util.function](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/util/function/package-summary.html)에서 가장 대표적인 개념들을 꼽아보자면
- `Function<T, R>` - 타입 T의 인풋을 받아서 타입 R의 아웃풋을 반환
- `Consumer<T>` - 타입 T의 인풋을 받고 아웃풋 x
- `Supplier<T>` - 인풋 x,  타입 T의 아웃풋을 반환
- `Predicate<T>` - 타입 T의 인풋을 받아 boolean 값을 반환

이해하

[2020-09-19 05:04] guswns1659 commented on #5
외부에서 객체를 주입받는 기법이 내부에서 객체를 생성해서 할당하는 방식에 비해 유연성, 재사용성, 테스트 용이성에 유리하다고 하는데 왜 그런지 각 키워드 별로 간단히 설명해주시면 감사하겠습니다!

- Random 객체를 주입 받아서, 호눅스가 쓴 것

[2020-09-19 05:22] guswns1659 commented on #3
# 리플랙션 (Reflection)

- 리플랙션은 자바 언어가 가진 특징이다. 리플랙션은 자바 프로그램이 자기 자신(객체)이나 프로그램 내 속성을 조사,분석하는데 도와주는 기술이다. 예를 들어, 자바 클래스가 클래스 내 멤버 변수에 대한 정보와 해당 멤버 변수를 display(표현?)하게 도와준다.
- 실용적인 내용으로는 이미 로딩이 완료된 클래스에서 또 다른 클래스를 동적으로 로딩(Dynamic Loading)하여 생성자, 멤버 필드, 멤버 메서드 등을 사용할 수 있게 도와준다.
- 반사, 투영이라는 사전적인 의미를 가지고 있는데 객체(인스턴스)를 통해 클래스의 정보를 분석해 내는 프로그램 기법을 의미한다.

## 왜 사용할까?
- 동적로딩에 대한 기술을 지원하니 자바 프로그램을 유연하게 운영할 수 있다

[2020-09-19 05:42] guswns1659 commented on #3
여기서 API에 명백히 드러난다는 의미는 무엇일까요??? 같이 논의하고 싶습니다.

@guswns1659 상수로 정의되어 있기에 명확하게 싱글턴임을 알 수 있다.

-> public 필드 방식은 메서드를 통하지 않고 .(dot) 연산자로 바로 인스턴스를 가져오니 다른 로직이 추가되지 않고 인스턴스를 가져올 수 있다.

[2020-09-19 07:36] guswns1659 commented on #1
## 다섯번째 장점에 대한 참고 글
- [JDBC 기본 구조 이해](https://o-jing.tistory.com/28)

[2020-09-19 07:39] 102092 commented on #1
## 동반 클래스란 무엇인가?
- Java8 이후에는 안 쓰는 느낌
- 동반이란 명명에서, 인터페이스와 같이 가는 클래스라고 생각됨.

[2020-09-19 07:43] 102092 commented on #1
## static method를 많이 쓰면 JVM 위험하지 않을까요?
- 자바 성능 튜닝을 참고하자!

[2020-09-19 07:52] 102092 commented on #1
## 공통적인 질문, 클린코드에서도 정적 팩터리 메서드를 사는 게 좋겠음.

[2020-09-19 07:57] 102092 commented on #2
## Q) 재귀적 한정 제어자(item30) 에 대해
- 대략적인 내용만 이용하고, Item 30나왔을 때 다시 한번 보자

[2020-09-19 07:58] 102092 commented on #2
## Q) Lombok Builder, Builder에 대해

[2020-09-19 08:13] 102092 commented on #2
## Q) 일관성에 대해서
- Item17에 좀 더 잘 정의되어있음.
- @david215 이 책의 독자는 API, Library를 만드는 설계자, 개발자들을 대상으로 하는듯함.

[2020-09-19 08:25] 102092 commented on #3
## Q) 싱글턴인지 아닌 지 어떻게 판단하다.
- Spring 환경에서 왜 제공하는 지 생각해보자
- Spring에서 Singleton이 중요하다

[2020-09-19 08:26] 102092 commented on #3
## Q) 정적 팩터리 방식은 첫번째 장점은 마음이 바뀌면 싱글턴이 아니게 변경할 수 있다??
-  싱글턴을 보장하지 않도록, `new Elvis()` 같은 방식으로 변경할 수 있음.
- Java에서 싱글톤을 보장하려면, enum을 사용하라(이 방식이 익숙하진 않지만 싱글톤을 보장하는 가장 쉬운 방식)
- Spring에서 제공해주는 여러 어노테이션들..(`@Compent, @Bean`)을 통해서, 싱글톤을 만들고 이용할 수 있도록 도와주고 있음.

[2020-09-19 08:34] 102092 commented on #3
## Q) 왜 직렬화, 역직렬화를 사용할까?
- 같은 Java 시스템 간에 가장 쉽게 데이터를 통신할 수 있는 방식
- 언제 사용할까?
  - DB에 영속화 할 때, 이떄 byteStream으로 바꿔서 들어감
  - byteStream -> 직렬화(좀 더 복잡한 방식이 있음) -> DB

[2020-09-19 08:38] 102092 commented on #5
## Q) 스프링에서 필드 주입을 왜 deprecated하는가?
- 확장성, 재사용성 문제인듯
- A인터페이스가 있고, 이를 구현한 B,C,D 구현체가 있다고 가정할 때, A 인터페이스를 필드에 선언해놓고 필드 주입한다면, A만 받을 수 있음.
- 반면에 생성자 주입을 하면, 선언은 A 인터페이스로 하고, B,C,D 중 원하는 것으로 주입 받을 수 있음.

[2020-09-19 08:41] 102092 commented on #5
## Q) 사용하는 자원에 따라 동작이 달라지는 클래스에는 정적 유틸리티 클래스나 싱글턴 방식이 적합하지 않다 건 무슨말일까?
- Dictionary이 변하면 spellchecker도 달라져야 하는 데, 그게 불가능하다.
- 유틸리티 클래슨, 싱글턴 방식을 착용하면 확장성이 없다.

[2020-09-20 04:18] wooody92 opened #6 "[아이템 06] 불필요한 객체 생성을 피하라"

[2020-09-20 04:20] wooody92 opened #7 "[아이템 07] 다 쓴 객체 참조를 해제하라"

[2020-09-20 04:20] wooody92 opened #8 "[아이템 08] finalizer와 cleaner 사용을 피하라"

[2020-09-20 10:53] #4 closed, assigned to 102092

[2020-09-20 10:57] #3 closed, assigned to guswns1659

[2020-09-20 11:11] #2 closed, assigned to kses1010

[2020-09-21 01:30] guswns1659 commented on #6
정규표현식용 Patten 클래스와 유한 상태 머신이 낯선데 이 2가지 개념을 간략하게 설명해주시면 좋을 것 같습니다.

[2020-09-21 01:32] guswns1659 commented on #6
디자인 패턴 중 하나로 어댑터를 본 것 같은데 어댑터 패턴의 예시를 한번 보여주시면 좋을 것 같습니다.

[2020-09-21 01:43] guswns1659 commented on #7
여기서 의미하는 캐시는 자주 사용되는 인스턴스를 특정 상수에 담고 있는 기술을 의미하겠죠? 아이템6의 코드6-2의 예시처럼 말이죠?

[2020-09-21 01:45] guswns1659 commented on #7
개발 공부하면서 종종 만났던 키워드가 리스너와 콜백인데 자바를 사용하면서 어떻게 적용되는 지 모르겠네요! 두 키워드에 대해 간단한 개념 설명해주시면 좋을 것 같습니다.

[2020-09-21 09:28] #1 closed, assigned to wooody92

[2020-09-21 12:07] #5 closed, assigned to david215

[2020-09-21 16:11] wooody92 commented on #7
참조를 담은 변수를 유효 범위(scope) 밖으로 밀어낸다는 것이 어떤 방식을 말하는 걸까요?

[2020-09-21 16:55] wooody92 commented on #7
강한참조와 약한참조 찾아보다가 d2에 좋은 글이 있어 공유합니다.
[https://d2.naver.com/helloworld/329631](https://d2.naver.com/helloworld/329631)

A) weak referenece : 다음 G.C 사이클에 정리
soft, strong reference : 메모리 부족할 때 G.C가 정리

[2020-09-22 05:45] david215 commented on #6
이거는 제가 요즘 수업에서 듣는 내용이라 예시와 함께 간단하게 설명해볼게요.
유한 상태 머신을 간단하게 설명하면:
1. 시작, 도착 상태를 포함한 상태들 (그래프에서의 노드)
2. 상태 사이의 전이 (그래프에서의 엣지)로 이루어져 있는데

쉽게 예를 들어 "squid"라는 패턴을 입력 문자열이 포함하고 있는지 확인하려면:
- 아직 아무 문자도 보지 못한 상태에서 시작
- 's'라는 문자를 보면 's'를 본 상태로 전이
- 'q'를 보게 되면 'sq'까지 본 상태로 전이되지만 'q'가 아닌 다른 문자를 보게 되면 아직 아무 문자도 보지 못한 상태로 전이
- 입력 문자열을 모두 소진할 때까지 반복...

이런 식으로 동작을 하는 머신인데 보통 꽤 간단한 정규표현식이라도 유한 상태 머신으로 변환하면 엄청나게 사이

[2020-09-22 07:00] david215 commented on #6
아이템 마지막 부분에 데이터베이스 커넥션 객체를 예시로 들며 객체 풀을 직접 관리하는 것은 안 좋다고 하는데 그 이유를 잘 모르겠네요.

[2020-09-22 07:46] david215 commented on #7
위 d2 글보다 깊이는 많이 부족하지만 이해는 더 쉬운 링크: [Guide to WeakHashMap in Java](https://www.baeldung.com/java-weakhashmap)

[2020-09-22 08:22] wooody92 commented on #7
@guswns1659

네. 동일하게 이해했습니다. 다만 여기서 캐시를 사용할 때 `WeakHashMap`방식이나 `LinkedHashMap`으로 덜 중요한 엔트리를 null 처리 하는 것으로 보이는데, static 영역에 있는 static 상수를 null 처리한다는 것이 잘 이해가 안가네요. 힙 영역과 다르게 스태틱 영역은 애플리케이션 실행시 고정되어 있는 값들로 이해했거든요. static으로 선언한 변수들도 final로 고정 하지 않은 경우에 null 처리하면 G.C에 의해 메모리에서 지워질까요?

A) Item 6-2 예제는 다양한 캐싱 전략중 하나이고, 여기서 말하는 캐시는 다른 방식으로 구현한 캐싱 전략이다. static 영역은 가비지 컬렉터의 영역이 아니다.

A) `WeakHashMap` : k

[2020-09-22 14:29] han0102 commented on #7
@wooody92

확실하지 않지만, 제 생각에는 객체 참조 형태를 unreachable하게 만들어준다는 의미 같습니다.

좀 더 예시를 들자면, ArrayList에 어떤 객체를 참조하는 변수들이 0,1,2 총 3개 존재한다고 할 때, remove() 메서드를 통해 특정 인덱스를 리스트 내에서 제거하기만 하면(참조를 담은 변수를 유효 범위 밖으로 밀어내면), 해당 인덱스가 가르키고 있던 특정 객체의 참조 상태가 unreachable로 바뀌므로 자동적으로 GC의 대상이 되는 과정이지 않을까 생각합니다..

----
지역변수를 선언할 때, 해당 scope에서만 선언하도록 만들어라.
for문 내부에, 사용하는 변수는 그 외부에 선언을 해놓으면 GC가 자동으로 정리해주지 못한다.

[2020-09-22 15:16] han0102 commented on #7
@wooody92

static으로 선언한 정적 변수들은, JVM Runtime Area중 Method Area로 올라가는 것으로 알고 있습니다.
GC의 대상은 Heap 영역일 꺼에요. 즉 Method Area는 GC의 대상이 아니지 않을까요?

[2020-09-22 15:38] han0102 commented on #7
@guswns1659

콜백(Callback) : 이벤트가 발생하면 특정 메소드를 호출해 알려준다. (1개)
리스너(Listener) : 이벤트가 발생하면 연결된 리스너(핸들러)들에게 이벤트를 전달한다 (n개)
- 참고 : https://www.crocus.co.kr/1533

콜백과, 리스너는 위와 같이 정의하고 있는 데요.. 명칭에서 느낄 수 있듯이 이벤트를 기다린다는 비슷한 점이 있는 듯 합니다.
그런데 이 두가지가 어떻게 메모리 누수를 유발할 수 있을까요?

간단하게 생각해보자면, 아마도 콜백, 리스너가 인스턴스로 만들어져 어떠한 이벤트를 기다린다고 생각해 볼때,
그 기다리고 있는 이벤트가 오지 않는다면, 아마도 해당 클래스들은 의미도 없이 heap에 자리를 차지하고 있는 셈이되고,
결국엔 이게 me

[2020-09-23 06:44] david215 commented on #8
일단 finalizer가 뭔지 쉽게 설명해주는 글 [A Guide to the finalize Method in Java](https://www.baeldung.com/java-finalize)

[2020-09-23 07:37] kses1010 commented on #7
여기서 WeakHashMap을 사용하여 만든 캐시의 예를 들 수 있을 까요? 그리고 그다음 내용

(ScheduledThreadPoolExecutor 같은) 백그라운드 스레드를 활용하거나 캐시에 새 엔트리를 추가할 때 부수 작업으로 수행하는 방법이 있다.

백그라운드 스레드를 활용하는 방법이 정확하게 어떤건가요? 캐시부터는 제대로 사용하지 않아서 어떤 역할을 하는지 많이 어렵군요.

[2020-09-23 07:43] kses1010 commented on #6
이걸 보니 지난번에 JK에 요청했던 오토마타이론이 생각나는 군요 그때 자료 보고 뭔소린지 몰랐는데 데이빗올린 걸 보니 어떤걸 의미하는지 알겠네요

[2020-09-24 10:20] kses1010 commented on #8
네이티브 피어가 정확하게 어떤건가요? 일반 자바 객체가 네이티브 메서드를 통해 기능을 위임한다는 뜻이라는데 이게 정확하게 무엇을 의미하는지 모르겠습니다. 여기에 관해서 예시와 쓰는 이유를 알려주셨으면 합니다!

[2020-09-24 10:21] kses1010 commented on #8
책에 있는 코드는 자바9의 cleaner를 사용했는데 finalizer를 쓸 땐 어떤 차이점이 있나요?

[2020-09-24 10:38] kses1010 commented on #8
FileInputStream, FileOutputStream은 확인 결과 finalize()에서 close()메서드를 호출하는데 ThreadPoolExecutor는 close()가 없습니다. 여긴 어디서 안전망 역할을 하는걸까요? 궁금합니당

[2020-09-24 12:00] kses1010 commented on #6
@guswns1659

### 출처
-  https://www.tutorialspoint.com/design_pattern/adapter_pattern.htm
- https://yaboong.github.io/design-pattern/2018/10/15/adapter-pattern/

어댑터 패턴은 의외로 간단한 패턴이었습니다.
![image](https://user-images.githubusercontent.com/49144662/94134921-ab91c880-fe9d-11ea-86c8-deb590bde478.png)

다음 사진과 같은 클래스 구조를 나누고, 클래스를 간략하게 구현한다면 클라이언트 로직에서는 이런식으로 가능합니다.
[code]
출력
[code]

어댑터 패턴의 가장 대표적인 예시는

[2020-09-24 12:11] kses1010 commented on #6
@david215

한국어 판은 그 다음 줄에 이런식으로 설명이 있습니다.

객체 풀은 객체를 필요로 할때 풀에 요청을 하고, 반환하고 일련의 작업을 수행하는 디자인 패턴으로 많은 수의 인스턴스를 생성할때 혹은 무거운 오브젝트를 매번 인스턴스화 할때 성능 향상을 위해서 사용합니다.
문제는 객체 풀이 코드를 헷갈리게 만들고 잘못 설정한 경우 메모리 사용량을 늘리고 성능을 떨어뜨립니다. 게다가 요즘 JVM의 가비지 컬렉터는 상당히 잘 최적화되어서 가벼운 객체용으로 다룰 때는 사용하지 않은게 더 낫다고 하네요.

[2020-09-24 12:14] kses1010 commented on #6
찾아보니 주의 사항이 다음과 같습니다.
- 객체 풀에서 사용되지 않은 객체는 메모리 낭비의 원인이 된다.
- 한번에 사용 가능한 객체 갯수가 정해져있다. (객체 풀의 모든 객체가 사용중이라서 재사용할 객체를 반환받지 못할 때를 대비해야한다.)
- 객체를 위한 메모리 크기는 고정되어있다.
- 재사용되는 객체는 저절로 초기화 되지 않는다. (여기서 초기화하는 걸 잊어 메모리 낭비에 원인이 될 수도 있겠군요)

[2020-09-24 12:24] david215 commented on #8
간단하게 설명하면 네이티브 피어는 C/C++이나 어셈블리 프로그램을 컴파일한 기계어 프로그램를 지칭하는데 이를 라이브러리로써 자바 피어가 실행할 수 있게 해주는 인터페이스를 JNI (Java Native Interface)라고 합니다. 자바 피어가 로딩될 때 정적으로 System.loadLibrary() 메소드를 호출해 네이티브 피어를 로딩하고 네이티브 메소드는 native 키워드를 사용해 호출하는 방식으로 사용합니다.

[예시](https://github.com/java-squid/effective-java/commit/e305fa90d339b50ff3fefaee9caf4ac0b0d5b149)를 만들어봤으니 풀 해서 실행해보시면 좋을 거 같습니다. 실행하는 방법은 README에 적어놨습니다.

우리가 사용

[2020-09-24 12:25] kses1010 commented on #8
만든 사람에겐 미안하지만 정말 끔찍한 거군요

[2020-09-24 12:33] 102092 commented on #8
@david215
네이티브 객체는 C, 어셈플리어로 만들어진 프로그램이고 이러한 프로그램이 JNI를 통해서 Java 플랫폼에서 사용될 수 있도록 만들어준다고 이해하면 될까요?
아 그리고 JVM공간 중에 Natvie Method란 공간이 있었던 걸로 기억하는데, 이곳이 Native Peer가 올라가는 공간일까요?

[2020-09-24 12:47] 102092 commented on #7
@kses1010

1. 캐시의 예는 아래 코드를 참고하시는게 좋을듯 합니다.
- http://blog.breakingthat.com/2018/08/26/java-collection-map-weakhashmap/

- 저는 배치 작업같은 느낌으로 받아드렸습니다. 스레드 A,B가 있다고 가정했을 때, A에서는 map에 캐시를 넣고, 빼는 등의 작업만 담당하여 계속하되, B에서는 일정 시간마다 map에 있는 key들이 유효한 값인지 확인하는 주기적인 작업을 진행한다라고 이해했습니다.
그래서 `ScheduledThreadPoolExecutor`를 책에서 언급한듯 싶습니다.

[2020-09-24 12:49] david215 commented on #8
![image](https://user-images.githubusercontent.com/12704057/94146626-29aa9b00-feaf-11ea-981d-92b23f6e4628.png)
Runtime data area에 native method가 사용하는 스택 공간이 따로 있기는 한데 native peer, 그 프로그램 자체는 따로 정적으로 할당되는 공간이 있는 것으로 보이네요.

[The JVM Architecture Explained](https://dzone.com/articles/jvm-architecture-explained)

[2020-09-24 12:58] 102092 commented on #8
@david215
Native Method Stack은 메서드등의 정보를 기록하는 공간이군요. 말씀하신 것처럼, native peer의 경우 할당되는 공간이 있을 것 같네요..
하지만 여기서 더 찾는 다면, 너무 깊게 들어가는 것이 아닌가 싶네요.. ㅋㅋㅋ
답변 감사합니다 👍

[2020-09-24 13:12] 102092 commented on #6
advanced 질문입니다.

코쿼 수업중에 한번 언급되었던 내용 같은데,, String을 생성하는 방법에 대해서 간단하게나마 알아보면 좋을듯 합니다.
예를 들면,
[code]
String contant pool과 관련 있을 것 같긴 한데... 그리고 위 두 방법 간에 어떻게 차이가 있는 지에 대해 알아보면 좋을 듯해요!

![image](https://user-images.githubusercontent.com/55608425/94984082-3f8d1f80-0583-11eb-9bbd-02c0452f1266.png)

[2020-09-26 12:16] kses1010 commented on #7
유효범위에 대한 예시를 위한 사진
![image](https://user-images.githubusercontent.com/49144662/94340532-8d62ce80-003d-11eb-84c0-e5c079c3831e.png)

[2020-10-02 04:17] wooody92 opened #9 "[아이템 09] try-finally 보다는 try-with-resources를 사용하라"

[2020-10-02 04:18] wooody92 opened #10 "[아이템 10] equals는 일반 규약을 지켜 재정의하라"

[2020-10-02 04:18] wooody92 opened #11 "[아이템 11] equals를 재정의하려거든 hashCode도 재정의하라"

[2020-10-05 13:01] #7 closed, assigned to 102092, wooody92

[2020-10-05 13:01] #6 closed, assigned to kses1010

[2020-10-05 13:16] 102092 commented on #10
논리적 동치성이 어떤 의미인지 조금 더 설명해주실 수 있나요?

[2020-10-05 13:52] 102092 commented on #10
아이템 외적인 질문인 것 같지만..

`lombok`에서도 어노테이션 `equals` 가 있던 것으로 기억합니다.
어떤 원리로 되어있는 지, 한번 알아보면 재밌을듯 해요....

[2020-10-05 14:00] 102092 commented on #11
약간 내용에서 벗어난 질문 같긴 합니다.
intellij에서도 equals, hashcode 자동생성 기능이 있었던 듯 싶은데 , 혹시 어떤게 있는지 살짝 봐보면 좋을듯 해요
어떤 프레임워크에서 비롯되었는지, 어떤 방식인지 정도..?

[2020-10-06 15:18] wooody92 commented on #9
결론적으로 try-with-resource는 `try (회수가 필요한 자원) { 로직 }` 구조인데요.
소괄호에 작성한 자원은 try문이 끝나는 시점에 자동으로 close() 되어서 이런 방식으로 사용하는 것이 맞지요?

[2020-10-07 13:40] 102092 commented on #9
@wooody92 말씀하신 로직이 맞는 듯 합니다.
회수가 필요한 자원들(AutoCloseable Interface를 확장 혹은 구현한) 은 로직에서 사용이 끝나고 난 후에, 자동으로 `close()` 메서드가 호출되는 방식인듯 해요

참고 : https://www.baeldung.com/java-try-with-resources
예시 코드와 함께 추가적인 내용도 있네요. 참고하시면 책을 이해하는 데 도움이 되실듯 합니다

[2020-10-08 07:10] kses1010 commented on #10
lombok `@EqualsAndHashCode` 문서
https://projectlombok.org/features/EqualsAndHashCode

[2020-10-16 05:21] guswns1659 commented on #10
여기서 뷰 메서드라는게 아이템 6에서 사용했던 캐시로 사용할 static final 인스턴스를 반환하는 메서드를 의미할까요? 코드 6-2 예시와 오같은?

[2020-10-16 05:31] guswns1659 commented on #10
위 문장을 이렇게 이해했습니다. "URL의 ip 주소를 가져오려면 네트워크를 통해 DNS 서버에 조회해서 가져오는데 외부 네트워크를 통해 가져오는 경우 equals가 제대로 동작하지 않는다." 그런데 dns서버에 저장된 ip주소는 항상 동일할텐데 왜 이런 문제가 발생할까요?

[2020-10-16 05:41] guswns1659 commented on #10
여기서 필드의 표준형이라는 게 무엇일까요??

[2020-10-16 06:15] kses1010 commented on #10
**equals의 판단에 신뢰할 수 없는 자원이 끼어들게 해서는 안된다.**  -> 호스트 이름이 저장된 IP주소가 항상 동일하지는 않습니다. 예를 들어 서버가 여러개가 있어 하나의 도메인에 대해 라운드 로빈 dns 형태로 랜덤으로 IP를 제공하기 때문입니다. 그래서 실무에서도 종종 문제가 생긴다고 저자가 말하는듯 합니다.

[2020-10-16 06:35] kses1010 commented on #10
표준형(canonical form)을 stackoverflow에서 가장 쉽게 표현한 것을 찾았습니다.
예를들어 `CaseInsensitiveString()` 의 표준형으로 저장한다면, 대문자건 소문자건 관계 없이 저장하여 비교가 더 쌉니다.
[code]
만약 이게 아니라 그대로 비교한다면 비교값이 훨씬 비싸질 것으로 예상됩니다.
stackoverflow에선 이걸 `equalsIgnoreCase()` 라고 표현했네요.

즉, 표준형(canonical form)이라는건 어떤 값을 넣든 그에 맞는 값으로 기준을 정하여(표준) 그 값을 주는 것 이 아닐까 예상합니다.
다른 글에서도 Set = {false, true, 1, 0} 은  Set = {false, true} 과 같다라고 말하는군요.
확실치는 않긴한데 추가

[2020-10-16 06:38] kses1010 commented on #11
여기서 비결정적 요소가 어떤건가요? 예시와 같이 알려주셨으면 합니다.

나중에 아이템 83에서 다시 공부하겠지만 지연 초기화에 대해 간단하게라도 소개했으면 합니다.

[2020-10-16 08:16] guswns1659 commented on #11
@102092

Intellij에서는 5가지 방법을 제공하는데 대표적인 2가지 방식은 아래 2가지입니다. 둘 다 equals()에서 getClass()를 사용하는데 이 방식은 코드 10 - 4에서처럼 리스코프 치환 원칙을 위배한다고 합니다. 이유는 상위 타입을 상속받은 하위 타입에 equals()를 실행하면 상위 타입과 다른 클래스라 인식하기 때문이다. 대신 instance of를 사용하는 방법을 추천하네요 (p.59)

## Intellij Default (코드11-2 방식)

[code]

## Object를 이용하는 방식 (위 방법과 equals는 동일한데 hashcode는 Objects.hash()를 사용)

- 위 방식의 단점은 성능이 좋지 않다는 점이고 이유는 입력 인수를 위한 배열이 만들어지고

[2020-10-16 08:28] guswns1659 commented on #11
@kses1010

# 비결정적 요소

- [참고 위키피디아](https://en.wikipedia.org/wiki/Deterministic_system)

undeterministic에 대한 의미는 잘 안나와서 derterministic을 찾아보니 결과가 도출될 때 랜덤요소(상황에 따라 값이 달라지는)가 없는 상태를 의미하네요. 그래서 주어진 초기 상태에서 항상 같은 결과를 도출한다는 의미네요. 이 의미로 파악해볼 땐 underministic은 상황에 따라 값이 달라져서 결과가 항상 일관되지 못한 요소를 의미하는 것 같아요.

예시는 이펙티브 자바 코드11-2를 차용하겠습니다. 이 예에서 만약 areaCode가 매번 랜덤으로 정해지는 값이라면 비결정적인 요소가 되기 때문에 equals() 함수가 동작하면

[2020-10-16 08:54] guswns1659 commented on #11
@kses1010

# 지연 초기화

## 무엇인가?
지연초기화는 필드의 초기화 시점을 그 값이 처음 필요할 때까지 늦추는 기법입니다. 그래서 값이 전혀 쓰이지 않으면 초기화도 일어나지 않습니다. 주로 성능 최적화 용도로 쓰이지만, 클래스와 인스턴스 초기화 때 발생하는 위험한 순환 문제를 해결하는 효과도 있다. (다른 인스턴스를 참조하는 필드가 있고 해당 인스턴스가 현재 인스턴스를 참조할 때 발생하는 순환문제라고 이해했습니다.)

## 사용방법
다른 모든 최적화와 마찬가지로 지연 초기화에 대해 해줄 최선의 조언은 "필요할 때까지는 하지 마라"다. 이유는 생성 시 초기화 비용은 줄지만 해당 필드로 접근하는 비용이 클 수 있다. 만약 10개 필드가 전부 지연 초기화 필드인데 반드시 사용되는 필드라면 차라리 미리

[2020-10-17 02:38] guswns1659 commented on #11
p.69 2번째 문단. hashCode를 다 구현했다면 이 메서드가 동치인 인스턴스에 대해 똑같은 해시코드를 반환할지 자문해보자. 그리고 여러분의 직관을 검증할 단위 테스트를 작성하자(equals와 hashCode 메서드를 AutoValue로 생성했다면 건너뛰어도 좋다.)

## AutoValue
### 무엇인가?
[구글에서 지원하는 라이브러리](https://github.com/google/auto/tree/master/value)로 POJO를 생성할 때 필요한 equals(), hashcode(), toString() 메서드를 쉽게 생성해준다. 이렇게 하면 필요한 재정의가 적용되고 수동 코딩으로 발생할 수 있는 잠재적 오류를 방지할 수 있습니다.

- [AutoValue 코드 생성기를 사용하여 POJO(

[2020-10-17 14:18] #10 closed, assigned to david215, kses1010

[2020-10-18 01:53] #9 closed, assigned to 102092

[2020-10-18 01:54] 102092 opened #12 "[아이템 12] toString을 항상 재정의하라"

[2020-10-18 01:54] 102092 opened #13 "[아이템 13] clone 재정의는 주의해서 진행하라"

[2020-10-18 01:55] 102092 opened #14 "[아이템 14] Comparable을 구현할지 고려하라"

[2020-10-19 12:33] 102092 commented on #12
간단하게 어떤 타입의 클래스인지, 어떨때 사용되는지 알아보면 좋을듯 합니다.

[2020-10-19 12:58] 102092 commented on #13
- https://www.baeldung.com/java-deep-copy
- https://blueshw.github.io/2016/01/20/shallow-copy-deep-copy/

[2020-10-20 10:34] david215 commented on #12
Java의 primivite int type은 (-2^31, 2^31) 밖에 표현을 못 하는데 BigInteger 같은 경우는 (-2^31^31, 2^31^31)까지 표현을 할 수 있습니다. BigDecimal은 같은 경우도 float이나 double의 범위를 벗어나는 실수를 표현하는데 사용하는데 사실 더 중요한 점은 float나 double 같은 수는 컴퓨터에서 표현하는 방식이 근복적으로 floating point error를 가지고 있기 때문에 보다 더 정확한 계산을 위해서는 BigDecimal 클래스를 사용해야 합니다.

[2020-10-20 12:04] 102092 commented on #12
@david215
1. BigInteger의 경우에는 Integer 범위의 한계 보다 좀 더 표현할 수 있고,
2. BigDecimal은 float, Double이 표현할 수 있는 범위를 벗어나 표현할 수 있을 뿐만 아니라, 정확한 계산(아마도 소수점 문제..?)을 할 수 있도록 도와주는 클래스라고 이해하면 될까요?

[2020-10-20 12:07] 102092 commented on #14
... 정렬된 컬렉션인 TreeSet과, TreeMap
... 유틸리티 클래스인 Collections와 Arrays가 있다.

TreeSet, TreeMap, Collections, Arrays에 대해 간단하게 알아보면 좋을 것 같아요!
뒷부분 유틸리티 클래스는 몇번 사용해본 적있지만, Tree 계열은 좀 생소하네요...

[2020-10-20 12:35] 102092 commented on #14
compareTo, Comparator를 활용한 코드 예제를 통해 차이점을 알 수 있을까요?
책만 읽으니까 두개의 차이점을 잘 모르겠어요.

[2020-10-22 05:11] kses1010 commented on #12
여기서 toString의 재정의란 뜻은 `객체.toString` 이 아닌 `@Override` 하여 toString을 한다는 의미가 맞나요?

[2020-10-22 06:35] david215 commented on #12
원래 타이틀이 Always override toString입니다. 재정의 == override

[2020-10-22 07:41] kses1010 commented on #12
원문이 오히려 더 알기 쉽군요 파악하기 힘들때 원문과 비교하는게 더 낫네요

[2020-10-30 03:28] wooody92 commented on #14
@102092

Comparator는 인터페이스이고 compareTo는 Comparable 인터페이스의 선언된 메서드입니다. 저는 주로 알고리즘에서 정렬을 커스텀하여 사용할 때 사용하는데요. 아래 간단한 예제를 볼게요.

[code]

보시는 것처럼 배열에 Comparator의 인터페이스를 새로 구현 클래스로 생성하여 사용했습니다. Comparaor 인터페이스의 compare 메서드를 compareTo 메서드를 활용하여 재정의 하였구요. 아래는 동일한 코드를 람다식으로 보기좋게 변환한 코드입니다.

[code]

한결 보기 좋아졌습니다. Comparator는 비교값들은 원하는 중요순위 순서로 정렬할 수 있어 활용도가 높습니다. 아래는 제가 Comparator를 학습하면서 풀었던 알고리즘 문제인데요. 풀어보시

[2020-10-30 07:39] guswns1659 commented on #13
아이템 71도 봤는데 비검사 예외처리를 이렇게 이해했는데 맞을까요? 굳이 처리할 필요가 없는 예외는 try-catch문을 사용하지 않는다. 혹은 예외가 발생하더라도 처리가 어렵다면 비검사 예외처리이다.

[2020-10-30 07:41] wooody92 commented on #13
Checked Exception과 Unchecked Exception
[https://cheese10yun.github.io/checked-exception/](https://cheese10yun.github.io/checked-exception/)

[2020-10-31 08:11] wooody92 commented on #13
clone 재정의를 자제하고, 생성자와 팩토리 메서드 메서드 패턴을 활용하자.

[2020-10-31 08:19] guswns1659 commented on #14
# Comparable, Comparator의 차이
- 영어 의미대로 Comparable은 비교할 수 있는 객체를 의미, Comparator는 Comparable를 구현한 객체를 비교하는 역할을 의미한다.

[2020-10-31 09:05] david215 opened #15 "[아이템 15] 클래스와 멤버의 접근 권한을 최소화하라"

[2020-10-31 09:06] david215 opened #16 "[아이템 16] public 클래스에서는 public 필드가 아닌 접근자 메서드를 사용하라"

[2020-10-31 09:07] david215 opened #17 "[아이템 17] 변경 가능성을 최소화하라"

[2020-10-31 09:07] david215 opened #18 "[아이템 18] 상속보다는 컴포지션을 사용하라"

[2020-10-31 09:08] david215 opened #19 "[아이템 19] 상속을 고려해 설계하고 문서화하라. 그러지 않았다면 상속을 금지하라"

[2020-10-31 09:08] david215 opened #20 "[아이템 20] 추상 클래스보다는 인터페이스를 우선하라"

[2020-10-31 09:13] #12 closed, assigned to david215

[2020-10-31 10:11] #8 closed, assigned to david215, guswns1659

[2020-10-31 12:40] 102092 commented on #13
![image](https://user-images.githubusercontent.com/22140570/97779408-1fbc3c00-1bc1-11eb-88d3-0ea9b087348b.png)

[2020-10-31 12:40] #13 closed, assigned to 102092

[2020-11-02 08:58] wooody92 commented on #15
![스크린샷 2020-10-25 오후 2 22 06](https://user-images.githubusercontent.com/58318041/97848775-f0c6d700-1d34-11eb-9580-09843f8ad070.png)

[2020-11-02 08:58] wooody92 commented on #15
![스크린샷 2020-11-02 오후 5 55 46](https://user-images.githubusercontent.com/58318041/97848818-fde3c600-1d34-11eb-87fc-c701e0391603.png)

위 내용이 이해가 잘 안가는데 간단하게 설명 부탁드립니다..!

-> 핵심은 한 클래스에서 사용하는 일회성 이너 클래스는 접근제어자를 이용하여 외부에서 접근 불가하게 한다. (사이드 이펙트 방지)

[2020-11-03 11:07] 102092 commented on #15
간단하게나마 모듈 시스템에 무엇인지 공유해보면 좋을 것 같아요.
그리고 2가지 접근 수준이 추가되었다고 하는데,

라는 말이 어떤 의미 인지 잘 감이 안 오네요.
모듈이 없는 것 처럼 행동한다는 말은, 모듈에서 제공하는 2가지 접근 수준이 적용되지 않는 다는 말일까요?

[2020-11-03 11:28] 102092 commented on #20
### AbstractList 에 대해 참고해보면 좋을 자료
- https://www.geeksforgeeks.org/abstractlist-in-java-with-examples/
### 단순 구현 simple implementation
- https://m.blog.naver.com/PostView.nhn?blogId=cestlavie_01&logNo=220495042781&proxyReferer=https%3A%2F%2Fwww.google.com%2F

[2020-11-04 05:29] kses1010 commented on #15
### Q1

스레드 안전하지 않다라는 뜻은 해당 필드가 여러 클라이언트 단에서 사용하여 위험하다는 뜻으로 해석하면 되나요?

### Q2

[code]

여기서의 방어적 복사라는 건 Deep Copy라고 볼 수 있나요? 만약 그렇다면 성능상 좋질 않으니 첫번째 방법인 public 불변 리스트를 추가하는 편이 제일 좋은 방법일까요?

[2020-11-04 05:35] kses1010 commented on #14
뒷부분 유틸리티 클래스는 몇번 사용해본 적있지만, Tree 계열은 좀 생소하네요...

Tree 계열은 데이터 입력의 순서를 보장해주는 Table 자료구조로 기존의 Set, Map에 비해 성능은 보장해주지 않습니다. 언어 Python에서는 ordereddict 라는 딕셔너리 자료구조와 비슷하다고 할 수 있습니다.

[2020-11-04 05:35] #14 closed, assigned to kses1010

[2020-11-04 06:11] kses1010 commented on #16
여기서 왜 Point와 Dimension클래스는 필드를 직접 노출한것일까요? 둘 다 java.io.Serializable 패키지의 클래스인데 io패키지라면 input, output이라서 노출한 것일까요?

[2020-11-04 06:15] kses1010 commented on #16
이 문구에 대한 예시를 보고 싶습니다.

[2020-11-04 06:17] kses1010 commented on #16
- 공부하면서 알게 된 사실

package-private 는 default 접근자와 같은 말이다.
https://docs.oracle.com/javase/specs/jls/se10/html/jls-6.html#d5e10050 에서는 package-access 라는 표현을 사용한다.

[2020-11-05 11:03] wooody92 commented on #16
@kses1010

스택오버플로우에 해당 내용에 대한 의견들이 있어서 공유드립니다. 하나는 초기 자바에서 GUI를 그릴때 가변객체로 사용하기 위해서라는 의견이 있네요. 참고정도만 하시면 될 것 같습니다.

https://stackoverflow.com/questions/20209942/why-does-java-awt-dimension-have-public-variables

[2020-11-05 11:21] wooody92 commented on #16
@kses1010

저도 해당 부분이 잘 이해가 안가서 아이템 15에 비슷한 질문을 남겼는데요. 저는 우선 아래와 같이 이해하고 있습니다.

[code]

[2020-11-05 11:25] kses1010 commented on #16
혹시 그렇다면 해당 클래스와 메서드를 호출하면 어떤 효과가 나는지 설명이 가능하신가요?

[2020-11-05 11:34] 102092 commented on #16
@kses1010
https://effectiveprogramming.tistory.com/entry/package-private-class%EC%97%90-%EB%8C%80%ED%95%9C-unit-test-
%EB%B0%A9%EB%B2%95
이 자료도 한번 참고해보시면, 도움이 될듯 합니다

[2020-11-05 11:35] kses1010 commented on #16
[package private class에 대한 unit test 방법](https://effectiveprogramming.tistory.com/entry/package-private-class%EC%97%90-%EB%8C%80%ED%95%9C-unit-test-%EB%B0%A9%EB%B2%95)

[2020-11-05 11:57] 102092 commented on #15
@kses1010

- 말씀하신 부분이 맞다고 생각해요. 여러 스레드에서 접근했을 때, 특정 스레드가 해당 필드의 값을 바꿔버리면 예상하지 못한 side-effect가 발생할 수 있지 않을까요

- 방어적 복사가 Deep Copy를 말하는 것 같아요!
- `첫번째 방법인 public 불변 리스트를 추가하는 편...`는 어떤 의미인지 잘 감이 안오네요
   - 단순하게 list에 final을 붙여준다는 의미인가요?

- https://johngrib.github.io/wiki/defensive-copy.md , 이 자료도 좋네요! 같이 보면 좋을듯 합니다

[2020-11-05 12:02] 102092 commented on #17
- 해당 클래스가 위 원칙을 어떻게 만족하는 지 정리해보면 좋을 것 같아요!

[2020-11-06 04:56] wooody92 commented on #17
불변 클래스를 만들기 위한 설계 방법중에 하나로 책에서는 정적 팩토리 메서드를 말하는데요. 정적 팩토리 메서드는 아이템 1의 내용처럼 단점보다는 장점이 많습니다. 저는 Entity나 DTO 생성 시 습관적으로 정적 팩터리 메서드를 만들어서 사용하고 있는데, 어떻게 보면 별다른 고민없이 무분별하게 사용해왔다는 생각이 드네요. Entity나 DTO에서 정적 팩토리 메서드를 사용하는게 단점이 있을까요? 다른 분들은 어떻게 생각하는지 궁금합니다.

-> 상속이 되지 않는 것도 다른 관점에서 보면 장점이라고도 할 수 있다.

[2020-11-06 05:24] kses1010 commented on #15
단순하게 list에 final을 붙이는 것이 아닌 Collections클래스의 unmodifiableList메서드를 사용하는 것 같아요.

[2020-11-06 06:56] kses1010 commented on #18
여기서 순수한 is-a 관계는 어떤건지 예시를 들어주었으면 합니다. 그리고 실무에서도 과연 순수한 is-a관계가 존재하는지도 궁금합니다.

[2020-11-08 06:02] kses1010 commented on #17
@wooody92
아이템1에서도 이야기했던거군요 [아이템1 이슈](https://github.com/java-squid/effective-java/issues/1)에서도 이야기를 했지만 하위 클래스를 만들수 없다는 점, 네이밍 통일성을 제외하곤 큰 단점은 없으니 가능하면 쓰자는게 의견이었습니다. 클린코드에서도 적극 추천하구요.
만약 정적 팩토리 메서드를 사용한다면 Entity나 DTO에서 둘 중 어디에서만 쓸지 통일성을 지켜준다면 큰 단점은 없을 듯 합니다.

[2020-11-08 06:15] kses1010 commented on #17
@102092
### 원칙
- 클래스가 꼭 필요한 경우가 아니면 불변이어야 한다. (getter가 있다고 해서 setter를 무조껀 만들지는 말자)
- 무거운 값객체의 경우 성능때문에 어쩔수 없다면, 불변 클래스와 쌍을 이루는 가변 동반 클래스를 public 클래스로 제공하자. [아이템 67] 최적화는 신중히 하라
- 불변으로 만들 수 없는 클래스라도 변경할 수 있는 부분을 최소한으로 줄이자
- 다른 합당한 이유가 없다면 모든 필드는 private final이어야 한다.
- 생성자는 불변식 설정이 모두 완료된, 초기화가 완벽히 끝난 상태의 객체를 생성해야한다.

### CountDownLatch란?
- 쓰레드를 N개 실행했을 때, 일정 개수의 쓰레드가 모두 끝날 때 까지 기다려야지만 다음으로 진행할 수 있거

[2020-11-08 06:19] kses1010 commented on #17
여기서 원칙에

그러나, 저희가 아이템01에서 이야기를 나눌때 동반 클래스는 Java8이후로 잘 쓰이지 않는 클래스라고 정했습니다. 그렇다면 가변 동반 클래스란건 정확하게 무엇일까요? Java8이후 부터는 동반 클래스대신 가변 동반 클래스를 쓴다고 생각하면 이해가 빠를까요?

[2020-11-08 06:23] kses1010 commented on #17
CountDownLatch는 1회성이지만 CyclicBarrior는 1회성이 아니라 카운터를 다시 리셋하여 쓴다고 합니다. 그렇다면 CountDownLatch와 비슷하지만 다시 카운터를 리셋하는 즉, 다시 초기화하니까 CyclicBarrior는 불변 클래스가 아니다라고 생각하면 될까요?

[2020-11-08 13:30] david215 commented on #15
@wooody92

한 클래스에서만 사용하는 클래스는 톱레벨 클래스일 필요가 없기 때문에 이를 사용하는 클래스 안에 nested class로 정의하면 된다는 뜻으로 보이네요.

[2020-11-08 14:13] david215 commented on #17
@102092 @kses1010
CountDownLatch는 가변 클래스입니다. 다만 언급이 된 이유는 클래스 내의 가변적인 부분을 최소화하고 또 재사용을 원천적으로 봉쇄해서 상태 변화로 인한 실수를 줄여주는 좋은 예시라서 그런 것 같네요.

[2020-11-08 14:15] david215 commented on #17
@kses1010

동반 클래스가 어떤 개념인지 저도 잘 이해를 못 하고 있었는데 이번 아이템에서 예시를 보고 깨달음을 얻은 거 같네요. String 클래스는 불변 객체이지만 StringBuilder라는 가변 동반 객체를 사용함으로서 String 객체의 불변성은 유지하면서 가변 객체의 유연함을 취하는 전략이라고 이해를 했습니다.

[2020-11-09 03:17] david215 commented on #18
@kses1010

is-a 관계는 어렵게 생각하지 않고 직관적으로 받아들이면 될 거 같습니다. 예를 들어 원은 도형이다, 정사각형은 사각형이다 이런 것들이요. 아이템에서 예시로 들었던 InstrumentedHashSet도 사실 is-a 관계처럼 보이기는 하네요. 순수한 is-a 관계여도 inheritance가 아닌 composition으로 푸는 게 더 좋은 경우들이 많은 것으로 보여집니다.

[2020-11-09 11:07] 102092 commented on #15
- Q. 자바에서 Thread Safe하게 구현할 수 있는 방법은 뭐가 있을까요?

[2020-11-09 11:51] 102092 commented on #18
- 객체가 다른 객체를 들고 있는 상황이 컴포지션
- 데코레이터 패턴

[2020-11-09 11:54] wooody92 commented on #19
상속받은 자식 클래스의 객체를 생성하는 경우 부모 클래스의 생성자가 먼저 실행되는 것을 인지하자.

[2020-11-09 12:00] wooody92 commented on #19
상속을 사용하려면 제약사항이 많으므로 도큐멘테이션을 정확히 하자.

[2020-11-09 12:01] 102092 commented on #19
- 상속하지 말고
- 웬만하면 wrapper class를 사용하던가
- 상속을 사용해야하면, 문서화를 잘해놓자.
- 상속관계에 있을 때, 상위 클래스의 생성자가, 하위 클래스 생성자보다 먼저 실행된다.
- 사내에서 사용할 라이브러리도 한번 만들어볼수도 있겠다..

[2020-11-09 12:18] 102092 commented on #20
- 인터페이스, 추상 클래스의 차이
- 인터페이스 다중 상속 가능
- 여러개의 추상 클래스가 있을 떄, 공통된 속성은 인터페이스로 묶을 수도 있겠음.
- 여러개의 인스턴스들이 공유하는 메서드들은 추상 클래스에 넣어두는게 좋겠음.
- 인터페이스는 public static final 하지 않으면 변수를 선언할 수 없음.
   - 그에 반해 abstract 클래스에서는 그렇지 않는 변수들을 선언할 수 있다.

[2020-11-09 12:25] #16 closed, assigned to wooody92

[2020-11-09 13:45] #18 closed, assigned to david215

[2020-11-09 14:45] david215 opened #21 "[아이템 21] 인터페이스는 구현하는 쪽을 생각해 설계하라"

[2020-11-09 14:46] david215 opened #22 "[아이템 22] 인터페이스는 타입을 정의하는 용도로만 사용하라"

[2020-11-09 14:47] david215 opened #23 "[아이템 23] 태그 달린 클래스보다는 클래스 계층구조를 활용하라"

[2020-11-09 14:47] david215 opened #24 "[아이템 24] 멤버 클래스는 되도록 static으로 만들라"

[2020-11-09 14:48] david215 opened #25 "[아이템 25] 톱레벨 클래스는 한 파일에 하나만 담으라"

[2020-11-09 14:52] #15 closed, assigned to guswns1659

[2020-11-09 14:56] kses1010 commented on #20
## 스프링에서의 골격 구현
예시) BasicErrorController(구현) - AbstractErrorController (래퍼) - ErrorController (전달)

ErrorController.java
[code]
AbstractErrorController.java

[code]
BasicErrorController.java
[code]

[2020-11-10 12:41] #20 closed, assigned to 102092

[2020-11-11 04:51] #17 closed, assigned to kses1010

[2020-11-11 08:12] #19 closed, assigned to wooody92

[2020-11-11 11:33] 102092 commented on #24
참고 : https://javabom.tistory.com/46

[2020-11-11 12:00] 102092 commented on #21
- 이 부분만 봐서는 정확히 어떤 역할을 하는 클래스 인지 잘 모르겠네요.
- 혹시 좀 더 쉽게 설명해주실 수 있을까요?

[2020-11-12 12:27] 102092 commented on #23
`tagged classes` 라는 말이 조금 생소하네요.
태그 달린 클래스라는 말은, 하나의 클래스에서 여러 개의 상태를 나타낸다 라는 의미로 받아들이면 될까요?

[2020-11-13 09:45] wooody92 commented on #21
@102092

SynchroziedCollection 클래스는 말 그대로 Collection에 대해서 쓰레드 세이프하게 만들기 위해 `synchronized (lock) {}`으로 동기화만 시켜주는 래퍼 클래스로 이해하고 있습니다.

[2020-11-14 09:00] david215 commented on #23
@102092

맞습니다. 여러 가지의 가능한 상태 중 어떤 상태인지를 태그 / 꼬리표를 달아서 표시를 하고 그 태그에 따라 객체의 성질을 바꿔서 사용하는 패턴입니다.

[2020-11-15 13:09] kses1010 commented on #22
java.io.ObjectStreamConstants 이 인터페이스는 왜 상수 인터페이스로 만들었을까요? 버전을 확인해보니 1.1인거 같은데 지난번에 이야기했듯이 자바 초기에는 상수 인터페이스에 대한 위험도를 인지못해서 만든 걸까요?

[2020-11-15 13:21] kses1010 commented on #25
실제로 여러 톱레벨 클래스를 한 파일에 담는 예시가 있는지 궁금합니다

[2020-11-16 10:33] 102092 commented on #25
@kses1010

현재까지 제가 살펴 봤을 때 없는 것 같습니다.

또한, 책에 적혀있는 대로 하나의 파일에 여러 톱 클래스을 담을 경우, 의도치 않은 결과를 만들어낼 수 있기 때문에
그렇게 하진 않을듯 싶습니다.

[2020-11-16 10:40] wooody92 opened #26 "[아이템 26] 로 타입은 사용하지 말라"

[2020-11-16 10:40] wooody92 opened #27 "[아이템 27] 비검사 경고를 제거하라"

[2020-11-16 10:41] wooody92 opened #28 "[아이템 28] 배열보다는 리스트를 사용하라"

[2020-11-16 10:41] wooody92 opened #29 "[아이템 29] 이왕이면 제네릭 타입으로 만들라"

[2020-11-16 11:01] wooody92 commented on #21
[https://javabom.tistory.com/44](https://javabom.tistory.com/44)

[2020-11-16 11:10] wooody92 commented on #21
뮤텍스와 세마포어 [https://worthpreading.tistory.com/90](https://worthpreading.tistory.com/90)

[2020-11-16 12:30] #23 closed, assigned to david215

[2020-11-17 14:28] #24 closed, assigned to 102092

[2020-11-17 14:31] #25 closed, assigned to 102092

[2020-11-17 14:32] 102092 opened #30 "[아이템 30] 이왕이면 제네릭 메서드로 만들라"

[2020-11-17 14:45] 102092 commented on #26
약간 advanced한 질문으로 생각됩니다.
런타임에는 왜 제네릭 정보가 지워지는 걸까요?

한번 알아보면 좋을 것 같습니다

[2020-11-18 06:31] #22 closed, assigned to kses1010

[2020-11-18 08:05] david215 commented on #26
@102092

- Why?
    - 파고 들어가자면 밑도 끝도 없이 어려운 주제...
    - Joshua Bloch이 언급한 이유는 Java 5 이전에 존재하던 raw type에 대한 하위 호완성을 유지하기 위함.
        - e.g. `List l = new ArrayList();`를 컴파일 에러로 취급하지 않고 경고만 하고 넘어가기.
- What / How?
    - Type Erasure?
        - 컴파일 전

                public class Node<T> {

                    private T data;
                    private Node<T> next;

                    public Node(T

[2020-11-18 08:14] david215 commented on #26
- `Collection<Supertype>`은 `Collection<Subtype>`의 상위 클래스가 아니다!
    -  왜? `Collection<Animal>`이 `Collection<Dog>`의 상위 클래스면 `Collection<Dog>`에 `Cat`을 추가할 수 있게 된다...
[code]
    - 출처: [StackOverflow](https://stackoverflow.com/a/2745301/10709152)
- 에러 예시
[code]
    - 출처: [Wildcards and Subtyping](https://docs.oracle.com/javase/tutorial/java/generics/subtyping.html)
- 그렇기 때문에 와일드카드를 써야한다.
[code]
- 더 자세한

[2020-11-19 08:07] #21 closed, assigned to wooody92

[2020-11-19 11:01] #11 closed, assigned to guswns1659, wooody92

[2020-11-19 12:23] 102092 commented on #27
자바봄 :  https://javabom.tistory.com/43

[2020-11-19 12:37] 102092 commented on #26
@david215 제가 질문했던 내용이 Item28에 나오는 군요...

[2020-11-19 12:49] kses1010 commented on #26
@102092 아이템 26부터 30번까지 공부해보니 겹치는게 많습니다. 겹치는 부분은 해당 이슈와 링크걸어 이해하기 쉽게 하는것도 나쁘지않을듯 합니다.

[2020-11-19 13:04] 102092 commented on #28
- **제네릭 배열 생성을 허용하지 않는 이유**에 대해 조금만 더 쉽게 설명해주실 수 있나요?
- 책 내용은 읽었는데,  이해가 된듯 안된듯 한 느낌을 받고 있네요.

[2020-11-19 13:10] 102092 commented on #28
- 이 뒤에 나오는 여러가지 상황에 대해 조금 더 설명 해주셨으면 합니다.
- 내용이 좀 어렵네요...ㅠㅠ

[2020-11-19 13:58] david215 commented on #27
제거할 수 없는 경고는 왜 생길까에 대해서 고민을 하면서 예시를 짜봤습니다.
[code]
ArrayList를 비롯한 많은 Collection 인터페이스 구현체들은 기본적으로 내부적으로 배열을 사용하고 있습니다. 위 예시를 보면 `elements`가 `Object[]`로 선언이 되어 사용되기 때문에 `pop()` 메소드에서 `@SuppressedWarnings("unchecked")` 어노테이션이 사용이 됐습니다.
<br>
그러면 처음부터 `elements`를 `Object[]`가 아닌 `E[]`로 선언하여 사용할 수는 없었을까? 라는 궁금증이 들어서 (자바봄 예시에서도 그렇게 선언이 되어있던데...) 여러가지 시도를 해보았습니다.
<br>
[code]
일단 이 방법은 제너릭 배열 생성 **에러**가 발생하기

[2020-11-19 15:13] david215 commented on #28
@102092

제네릭 도입과 사용의 가장 큰 목적이 type safety인데 제네릭 배열 생성을 허용하는 경우에 책에서 나왔던 예시와 같이 런타임 에러가 발생하는 경우가 발생하게 되죠. 제네릭 배열 생성을 금지함으로써 에러를 모두 컴파일 타임에 잡히도록 강제한 것이죠 (물론 경고 억제가 있기는 하지만)

[2020-11-20 03:28] kses1010 commented on #27
아이템28에서도 나오듯이 Object[] 가 아닌 List로 하면 더 괜찮지 않을까요?

[2020-11-20 03:32] kses1010 commented on #28
아이템 28을 읽으면서 느낀점은 배열이 리스트에 비해 성능이 약간 좋을 뿐 단점이 너무 많다고 생각했습니다. 그렇다면 배열을 적극적으로 쓰이는 곳은 어디일까요?
그래서 파이썬은 배열을 없애고 처음부터 리스트를 도입한 걸까요?

[2020-11-20 04:54] kses1010 commented on #30
재귀적 타입 한정을 할 때 메모리는 문제 없을까요? 재귀라고 생각하는 문제가 StackOverflow인데 이 재귀적 타입 한정도 이것과 관계가 있을까요? 있다면 이를 막기위한 방법은 없을까요?

[2020-11-20 04:56] kses1010 commented on #26
자바봄의 자바의 제네릭
https://javabom.tistory.com/69?category=835783
Java 컴파일러의 타입 소거
- 제네릭 타입( Example<T>) 에서는 해당하는 타입 파라미터 (T) 나 Object로 변경해준다.
- Object로 변경하는 경우는 unbounded 된 경우를 뜻하며, 이는 <E extends Comparable<E>>와 같이 bound를 해주지 않은 경우를 의미한다.
따라서 이 소거 규칙에 대한 바이트코드는 제네릭을 적용할 수 있는 일반 클래스, 인터페이스, 메서드에만 해당된다.
- 타입 안정성 보존을 위해 필요하다면 type casting을 넣어준다.
- 확장된 제네릭 타입에서 다형성을 보존하기 위해 bridege method를 생성한다.

[2020-11-20 09:19] david215 commented on #27
위 예시는 `Collection`을 사용하는 게 아니라 **구현**하는 거라서 상황이 좀 다르죠. `List`의 구현체가 없는데 `List`를 사용할 수는 없으니까요. 물론 우리가 일반적으로 무언가를 구현할 때는 wrapper pattern을 활용해 `Collection` 객체를 확장하는 식으로 사용하게 되니까 배열보다는 컬렉션 제너릭 객체를 사용하는 것이 자연스럽겠죠.

[2020-11-20 09:50] david215 commented on #28
@102092

[code]
위에 예시와 같이 `<T> T[] toArray(T[] a)` 제네릭 메소드를 사용해 `Collection<E>` 객체를 `E[]`로 변환하는 것이 가능하기는 합니다. 매개변수로 `new String[0]`와 같이 지정 타입의 비어있는 배열을 넘겨주는 것을 볼 수 있습니다.
<br>
하지만 원소 타입 자체가 제네릭인 경우에는 `new E[0]`와 같은 제네릭 배열 생성이 불가능하기 때문에 위와 같은 방법으로는 배열로 변환할 수 없습니다.
[code]
<br>
뒤에 나오는 vararg에 대한 내용은 나중에 해당 아이템들이 나올 때 천천히 봐야할 거 같네요.

[2020-11-20 09:54] david215 commented on #28
@kses1010

컬렉션 프레임워크 같이 로우 레벨로 들어가는 경우에는 성능도 절대 무시할 수 없겠죠. 또 컬렉션을 사용하는 경우에 해당 코드가 전체 성능의 병목이 되는 경우에도 고려를 해봐야겠죠.
<br>

파이썬 같은 경우는 언어자체가 자바와 다르게 동적 타입 언어라서 상황이 좀 다른 거 같기는 하네요.

[2020-11-23 11:04] 102092 commented on #27
supperssing warning : https://www.baeldung.com/java-suppresswarnings

[2020-11-23 11:56] #28 closed, assigned to david215

[2020-11-23 12:03] 102092 opened #31 "[아이템 31] 한정적 와일드카드를 사용해 API 유연성을 높이라"

[2020-11-23 12:04] 102092 opened #32 "[아이템 32] 제네릭과 가변인수를 함께 쓸 때는 신중하라"

[2020-11-23 12:04] 102092 opened #33 "[아이템 33] 타입 안전 이종 컨테이너를 고려하라"

[2020-11-23 12:05] 102092 opened #34 "[아이템 34] int 상수 대신 열거 타입을 사용하라"

[2020-11-23 12:06] 102092 opened #35 "[아이템 35] ordinal 메서드 대신 인스턴스 필드를 사용하라"

[2020-11-23 14:03] #27 closed, assigned to 102092

[2020-11-23 14:05] #30 closed, assigned to 102092

[2020-11-24 13:37] #29 closed, assigned to kses1010

[2020-11-24 13:37] #26 closed, assigned to kses1010

[2020-11-25 12:19] 102092 commented on #31
- PECS 특히 생산자, 소비자 라는 개념이 잘 와닿지 않는 것 같습니다.
  - 인스턴스를 기준으로 구분하는 것 같긴 한데... 만약 저한테 설명해보라고 하면 못할 것 같아요..ㅠㅠ
- 다른 예를 들어서 설명해주실 수 있나요?

[2020-11-25 12:40] 102092 commented on #32
- 현재 아이템에서 말하는 heap pollution은 타입 안전성이 깨져서, 런타임 시에 ClassCastException 에러가 발생할 수 있음을 말하는 듯 합니다.
- 그럼 heap pollution이라는 단어가 의미하는 걸 직관적으로 생각해보면,  JVM Heap공간에 뭔가 오류가 내재된 상태를 의미한다고 보면 될까요?

참고 : https://en.wikipedia.org/wiki/Heap_pollution#cite_note-Java-1

[2020-11-25 13:05] 102092 commented on #33
참고하면 좋을 것 같은 포스팅
- https://homoefficio.github.io/2016/11/30/%ED%81%B4%EB%9E%98%EC%8A%A4-%EB%A6%AC%ED%84%B0%EB%9F%B4-%ED%83%80%EC%9E%85-%ED%86%A0%ED%81%B0-%EC%88%98%ED%8D%BC-%ED%83%80%EC%9E%85-%ED%86%A0%ED%81%B0/

[2020-11-28 07:06] guswns1659 commented on #31
@102092

다른 예시보단 생산자와 소비자에 대한 개념이 잡힌다면 쉽게 이해되실 것 같아서 제가 이해한 언어로 표현해보겠습니다. 생산자와 소비자란 표현이 자주 등장하기 때문에 중요하다 생각해서 그렇습니다. 핵심적으로는 생산자는 추가하는 역할, 소비자는 기존 원소를 사용하는 역할을 하는 객체라고 이해했습니다.

## 생산자 = 원소를 새롭게 추가하는 역할
- 매개변수가 생산하는 역할이라는 의미는 단순하게는 기존 인스턴스에 (책에서는 Stack) 새로운 원소를 추가(생산)한다는 의미이다. 그래서 기존 인스턴스에서 새로운 원소가 추가되서 문제없이 사용하려면 추가되는 원소의 타입이 기존 인스턴스의 원소 타입보다 **하위 타입**이어야 한다. 그래야 리스코프 치환이 적용되서 문제없이 사용.

예를 들어, Stac

[2020-11-28 07:57] guswns1659 commented on #33
전체적으로 어려운 주제네요.

타입 안전 이종 컨테이너를 이렇게 이해했는데 맞을까요? 기존 컬렉션 API는 컬렉션이 다루는 타입 매개변수가 정해져 있다. ex) List<Integer> list. 타입 안전 이종 컨테이너는 내부에 map을 두어 매개변수의 타입을 키로하는 여러개의 컨테이너를 가질 수 있는 컨테이너이다?

[2020-11-28 08:03] guswns1659 commented on #34
열거 타입에 새로운 상수를 추가해도 다시 컴파일을 하지 않아도 된다는 말이 이해가 안되네요. 기존 정수 열거 패턴에서도 하나의 변수를 추가한다고 반드시 컴파일을 하는 것은 아닌 것 같은데!! 어떤 의미로 설명했을까요??

[2020-11-28 09:47] kses1010 commented on #31
그렇다면 생산자에선 add, push, 소비자는 pop, 등등이라고 인식하면 되나요? 그 외에는 또다른 예시가 없을까요?

[2020-11-29 05:50] kses1010 commented on #33
@guswns1659
List list가 무슨 뜻인가요? 타입 안전 이종 컨테이너를 사용하는 예를 찾아보니 checkedSet, checkedList, checkedMap에서 쓰고 있더라구요.
타입 안전 이종 컨테이너 또는 타입 안전 혼종 컨테이너라고 부르기도 하네요.

[code]

[2020-11-29 06:13] kses1010 commented on #34
Enum 활용기
https://woowabros.github.io/tools/2017/07/10/java-enum-uses.html

[2020-11-29 07:26] kses1010 commented on #34
@guswns1659
저도 무슨뜻인지 모르겠습니다. 컴파일러 자체를 공부해야 하는건가 싶긴하군요.

여기서 컴파일되어 각인된다 라는 뜻이 무슨뜻인지 모르겠네요

[2020-11-29 07:26] guswns1659 commented on #33
@kses1010
List<Integer> list 처럼 특정 타입을 지정하는 걸 의미합니다. 오타였네요. 죄송합니당

[2020-11-30 10:11] david215 commented on #32
@102092

"오류가 내재된 상태"도 물론 맞지만 더 구체적으로 설명을 하자면 `Generic<A>`라는 정적 타입을 가지고 있는 변수가 `Generic<B>`라는 다른 타입 매개변수를 들고있는 객체를 가리키고 있는 상황입니다. 발생할 수 있는 경우는:
1. 제네릭 가변인수를 사용하는 경우.
2. 배열과 제네릭을 같이 사용해 unchecked conversion warning이 발생하는 경우.
3. raw type을 사용해 unchecked conversion warning이 발생하는 경우.

1번과 2번의 경우에는 각각 아이템 32와 27에 타입 안전성을 검사, 보장하는 방법이 나와있고요, 3번은 아이템 26번에서 얘기했듯이 아예 안 쓰면 됩니다.

[2020-11-30 13:43] #35 closed, assigned to 102092

[2020-11-30 13:44] 102092 opened #36 "[아이템 36] 비트 필드 대신 EnumSet을 사용하라"

[2020-11-30 13:45] 102092 opened #37 "[아이템 37] ordinal 인덱싱 대신 EnumMap을 사용하라"

[2020-11-30 13:46] 102092 opened #38 "[아이템 38] 확장할 수 있는 열거 타입이 필요하면 인터페이스를 사용하라"

[2020-11-30 13:46] 102092 opened #39 "[아이템 39] 명명 패턴보다 애너테이션을 사용하라"

[2020-11-30 13:46] 102092 opened #40 "[아이템 40] @Override 애너테이션을 일관되게 사용하라"

[2020-11-30 13:47] 102092 opened #41 "[아이템 41] 정의하려는 것이 타입이라면 마커 인터페이스를 사용하라"

[2020-11-30 14:30] #32 closed, assigned to david215

[2020-12-02 12:37] 102092 commented on #36
비트 필드를 사용하면 비트별 연산을 사용해 합집합, 교집합 같은 집합 연산을 효율적으로 수행할 수 있다.

- 아마 자바의 정석이나 기본서에서 한번 봤던 것 같은데, 자바에서 비트 필드를 어떻게 이용할 수 있는지 한번 확인해보면 좋을 것 같아요.

[2020-12-02 12:39] 102092 commented on #36
...EnumSet 의 내부는 비트 벡터로 구현되었다. 원소가 총 64개 이하라면, 즉 대부분의 경우에 EnumSet 전체를 long 변수 하나로 표현하여 비트 필드에 비견되는 성능을 보여준다..

- 비트 벡터로 구성된 여부와 원소 갯수 64개 이하.. 가 어떻게 연결되는 걸까요?

[2020-12-02 13:49] #33 closed, assigned to kses1010

[2020-12-02 13:49] #34 closed, assigned to kses1010

[2020-12-03 12:23] 102092 commented on #38
... 반면, 특정 연산에서는 EnumSet과 EnumMap을 사용하지 못한다..

- 어떠한 특정 연산에서 왜 사용하지 못하는 걸까요..?

[2020-12-03 12:43] #31 closed, assigned to guswns1659

[2020-12-03 13:07] 102092 commented on #39
- Java Annotation과 Reflection에 대해 나오네요
- 굉장히 신기하면서도 재미있어 보이는 주제인 것 같아요.
- 그런데 왜 reflection이라 명명했을까요?
- 한번 얘기나눠보면 좋을 것 같네요

[2020-12-06 08:23] guswns1659 commented on #39
저도 이번주 아이템 중 가장 재밌네요. Juint의 어노테이션이 리플레션 기반으로 만들어졌다는 점이 흥미로웠습니다. 스프링도 의존성 주입할 때 리플랙션을 활용하는데, 우리가 유용하게 사용하는 기능들은 내부 속에 리플렉션이 자주 이용되는 것 같네요.

[2020-12-06 13:34] wooody92 commented on #36
@102092

bit operation을 사용하는 EnumSet의 경우 원소 갯수 하나당 bit 하나(0001, 0010, ...)를 차지하는데요, 원소의 갯수가 64개 이하라면 long 자료형 8byte = 64bit이므로 long 변수 하나로 표현가능하다는 말로 이해했습니다. EnumSet을 사용해보지는 않았지만 어떤식으로 사용되는지정도는 알고가면 좋을 것 같네요.

EnumSet 참고 링크 - https://www.geeksforgeeks.org/enumset-class-java/

[2020-12-06 13:37] wooody92 commented on #36
@102092

일전에 동아리 활동으로 임베디드 개발을 한적이 있는데. 하드웨어 기반에 가까운 개발이다보니 비트단위로 레지스터 조작 등 빈번하게 사용했었는데, Java를 사용한 웹 개발에서는 비트연산을 거의 드물게 사용했던것 같네요.

[2020-12-06 15:09] wooody92 commented on #41
~~마커 인터페이스의 경우 예시로 아래와 같이 Serializable 이 많이 나오는데, 마커 어노테이션 예시는 어떤게 있을까요? 아래 마커 인터페이스 예시를 마커 어노테이션으로도 표현할 수 있을까요? 스터디때 얘기해봤으면 좋겠습니다.~~

[code]

- 마커 인터페이스 참고 예시
  - https://woovictory.github.io/2019/01/04/Java-What-is-Marker-interface/

-> 아이템 39 : @Test 가 마커 어노테이션의 예

[2020-12-06 15:11] wooody92 commented on #41
추가로 마커의 경우도 자바 라이브러리 개발을 위해 주로 사용되는 걸까요? 저희가 웹 개발시에도 유용한 도구로도 사용 할 수 있을 것 같아서요.

[2020-12-07 02:26] kses1010 commented on #36
불변 EnumSet에 대한 stackoverflow [링크](https://stackoverflow.com/questions/49263098/is-javas-enumset-mutable/49263193)

Guava에 불변 EnumSet이 있습니다.
[Guava 불변 EnumSet](https://guava.dev/releases/snapshot/api/docs/com/google/common/collect/Sets.html#immutableEnumSet-java.lang.Iterable-)

자바 11까지 추가하지 않은걸 보아 자바 개발팀은 불필요하다고 느낀게 아니냐라는 옮긴이의 사견이 있었습니다.

[2020-12-07 04:15] kses1010 commented on #38
특정 연산이라는 뜻이 첫번 째 방법(T extends Enum<T> & Operation>)을 의미하는 것 같습니다. p235의 예시 코드 장점에서 유연하고 여러 구현 타입의 연산을 조합해 호출할 수 있다고 설명이 있습니다.
또 다른 곳을 찾아보니 두번째 방법(Collection<? extends Coperation>) 방법이 EnumSet, EnumMap을 사용할 수 있는 유연성을 가지고 있다고 하네요.

[2020-12-07 06:15] kses1010 commented on #39
스프링에서 JpaRepository에선 Repository라는 이름을 확인하면 ComponentScan에서 애너테이션을 달지 않았어도 인식합니다. 그이전에는 스프링에서는 `@Repository` 를 달아야 스캔 대상으로 인식했으나 왜 스프링부트에서는 명명 패턴을 따르는 이유가 무엇일까요?

그냥 단순히 개발자가 애너테이션을 일일이 다는게 크게 유지보수하는데 도움이 안된다고 생각하여 Repository라는 이름을 붙이면 Scan대상에 해당되도록 설정한 걸까요?

https://stackoverflow.com/questions/42691697/using-repository-annotation-when-implementing-jparepostiory-in-spring

[2020-12-07 12:31] 102092 commented on #37
https://sup2is.github.io/2019/11/11/enum-map.html

[2020-12-07 12:36] 102092 commented on #38
- `extends Enum<T>`.. 에서는 한정되어있기 때문에 EnumSet, EnumMap을 사용하지 못한다.
- `Collection<? extends Coperation>` 을 사용하면, EnumSet,EnumMap을 사용할 수 있다. 즉 유연해졌다.
    - 그 대신에, 받는쪽을 `Collection` 으로 받는 것이 필요해졌다.

[2020-12-07 13:11] #37 closed, assigned to 102092

[2020-12-07 13:13] #40 closed, assigned to 102092

[2020-12-07 13:15] wooody92 opened #42 "[아이템 42] 익명 클래스보다는 람다를 사용하라"

[2020-12-07 13:17] wooody92 opened #43 "[아이템 43] 람다보다는 메서드 참조를 사용하라"

[2020-12-07 13:17] wooody92 opened #44 "[아이템 44] 표준 함수형 인터페이스를 사용하라"

[2020-12-07 13:18] wooody92 opened #45 "[아이템 45] 스트림은 주의해서 사용하라"

[2020-12-07 13:18] #38 closed, assigned to kses1010

[2020-12-08 10:52] #36 closed, assigned to wooody92

[2020-12-08 13:02] 102092 commented on #43
인스턴스 메서드를 참조하는 두가지 유형.. 한정적, 비한정적

- 이해될듯 안될듯 어렴풋한 느낌입니다.
- 한정적은 해당 기능을 수행하기 위해서는 특정 인스턴스가 꼭 필요해서 한정적이라 한 것 같은데,
- 비한정적인 경우는 어떤 걸까요?

... 비한정적 참조에서는 함수 객체를 적용하는 시점에 수신 객체를 알려준다. 이를 위해서...

- 이 부분이 잘 이해가 안되서 그런지 비한정적이라 명명한 이유를 잘 모르겠네요.
- 한번 이야기 나눠보면 좋을 것 같아요

[2020-12-11 06:42] kses1010 commented on #42
람다를 직렬화하는 일은 극히 삼가야한다.

직렬화 할 때 대부분 클래스에 Serializable을 구현할 텐데 만약 그렇다면 제가 만든 함수에 람다가 있다면 어떻게 되나요? 그걸 하나하나 private 정적 중첩 클래스의 인스턴스를 사용해야 할까요?

[2020-12-11 07:11] #39 closed, assigned to david215

[2020-12-11 07:11] #41 closed, assigned to guswns1659

[2020-12-11 07:24] kses1010 commented on #43
@102092
## 비한정적 메서드 참조
public 또는 protected로 정의한 메서드를 참조할 때 사용하며 static 메서드를 호출하는 것과 유사합니다. 주로 스트림에서 필터와 매핑용도로 많이 사용합니다.
여기서 비한정적이란 작성하는 구문 자체가 특정한 객체를 참조하기 위한 변수를 지정하지 않는다란 의미입니다. 예를 들어 보겠습니다.
[code]
String 클래스의 toUpperCase 메서드는 public이나 static이 아니라 반드시 String 클래스가 객체화 되야 호출할 수 있습니다. 그런데 위 코드를 보면 static 메서드를 참조하는 것처럼 정의가 되어있습니다. 이 코드를 람다식으로 바꾸면
[code]
위 코드를 보시면 객체의 생성을 파라미터로 받았습니다. -> 람다 표현식 내부에서

[2020-12-11 07:26] kses1010 commented on #43
이펙티브 자바의 글이 너무 어려워서 이 책을 많이 참고했습니다. 좀 더 구체적이고 자세하게 설명되어 있어 큰 도움이 되었어요.
http://www.yes24.com/Product/Goods/92529658
![image](https://user-images.githubusercontent.com/49144662/101875160-7f006980-3bcd-11eb-958f-2ecf3b7c99c5.png)

[2020-12-11 09:10] kses1010 commented on #44
마지막 페이지(275 ~ 276)에서 데카르트 곱 메서드가 나옵니다. 여기서 반복문이 편한지 스트림 방식이 편한지 간단하게 설문조사를 하고 싶습니다.
[code]

[code]

두 개중 하나를 골라 편한 걸 선택하시고 왜 그게 편한지를 월요일날에 같이 이야기 하고 싶습니다.

[2020-12-11 09:10] kses1010 commented on #44
1번은 따봉, 2번은 역따봉을 눌러 선택해주시면 감사하겠습니다

[2020-12-12 05:29] guswns1659 commented on #45
# 아이템45. 스트림은 주의해서 사용하라

## 핵심
- 스트림을 과용하면 프로그램이 읽거나 유지보수하기 어려워진다.
- 스트림과 반복 중 어느 쪽이 나은지 확신하기 어렵다면 둘 다 해보고 더 나은 쪽을 택하라.

# 지연평가(lazy evaluation)

의미대로 나중에 평가(계산할지 말지)를 한다는 의미. 스트림에서는 종단연산에서 평가가 이루어진다. 예를 들어 아래 코드에서 filter에서 연산을 수행하지 않는다. 마지막 forEach에서 filter에 연산을 수행하고, 해당 값이 종단 연산에 해당 안되면(평가를 해서) 적용하지 않는다.

[code]

[2020-12-13 10:36] wooody92 commented on #42
@kses1010

네. 생성한 메서드에 직렬화가 필요하다면, 해당 메서드에는 람다 또는 익명 클래스 인스턴스 사용을 삼가고 private 정적 중첩 클래스의 인스턴스를 사용해야합니다. (이펙티브 자바 책 내용에 의거)

- 왜? 람다나 익명 클래스의 경우 구현별로(가상머신 별로) 직렬화 형태가 다르기 떄문

아래 자바봄 링크 마지막 부분에서 해당 예시를 볼 수 있습니다.

### 참고

- [자바봄 아이템 42](https://javabom.tistory.com/66)
- [우아한 형제들 자바 직렬화](https://woowabros.github.io/experience/2017/10/17/java-serialize.html)

[2020-12-13 10:42] wooody92 commented on #42
책에서 직렬화해야만 하는 함수 객체의 예시로 나온 Comparator의 경우는 왜 직렬화가 필요할까요? 제가 이해한 바로는 자바 직렬화를 사용하는 이유는 자바 시스템간의 데이터 교환을 위해서로 알고있는데 비교기의 경우에는 왜 직렬화가 필요한지 의문이 드네요.

[2020-12-13 11:05] wooody92 commented on #43
람다 표현식을 메서드 참조 방식으로 변경하면 더욱 간결하고 명확하게 표현할 수 있다. 또한 매개변수 수가 늘어날수록 메서드 참조로 제거할 수 있는 코드량도 늘어난다.
단, 람다가 메서드 참조보다 간결하게 표현되는 경우에는 람다식을 이용하는 편이 좋다.

[2020-12-13 11:16] wooody92 commented on #44
일반 인터페이스와 함수형 인터페이스의 차이

-> 함수형 인터페이스를 사용하는 이유?
함수형 인터페이스를 사용하는 이유는 자바의 람다식은 함수형 인터페이스로만 접근이 되기 때문입니다.

https://codechacha.com/ko/java8-functional-interface/

[2020-12-13 12:54] wooody92 commented on #45
필터가 여러개인 경우 순서, 메르센 수

-> 마지막에 한번에 작성한 순서대로 처리된다.

[2020-12-14 12:24] 102092 commented on #43
한정적, 비한정적 한줄로 정리해보기

[2020-12-14 12:48] 102092 commented on #45
- Lazy evaluation :  https://medium.com/@goinhacker/lazy-evaluation%EA%B3%BC-%EB%A9%94%EB%AA%A8%EB%A6%AC-c6789ac2173c

[2020-12-14 13:00] #42 closed, assigned to wooody92

[2020-12-14 13:02] #44 closed, assigned to 102092

[2020-12-15 00:08] #45 closed, assigned to guswns1659

[2020-12-20 13:30] #43 closed, assigned to kses1010

[2021-01-11 12:23] 102092 opened #46 "[아이템 46] 스트림에서는 부작용 없는 함수를 사용하라"

[2021-01-11 12:23] 102092 opened #47 "[아이템 47] 반환 타입으로는 스트림보다 컬렉션이 낫다"

[2021-01-11 12:24] 102092 opened #48 "[아이템 48] 스트림 병렬화는 주의해서 적용하라"

[2021-01-11 12:25] 102092 opened #49 "[아이템 49] 매개변수가 유효한지 검사하라"

[2021-01-11 12:25] 102092 opened #50 "[아이템 50] 적시에 방어적 복사본을 만들라"

[2021-01-12 13:25] 102092 commented on #46
- 부작용이 없는 함수란 무엇일까요?
- 우선 책에서는 side-effect가 없는 함수라고 이야기하고 있습니다.
- 그러면 사이드 이펙트가 없다는 말이 무엇일까요??
- 제가 이해했을 떄는 스트림 연산을 진행함에 있어, 외부 변수와 소통을 자주하면 이제 예상하지 못한 사이드 이펙트가 발생해서 그러지 않을까 생각해요
- 왜 이러한 사이드 이펙트가 발생하는 걸까요..?

[2021-01-12 13:47] 102092 commented on #46
- 참고해보면 좋은 문서
https://docs.oracle.com/javase/8/docs/api/java/util/stream/Collectors.html#toMap-java.util.function.Function-java.util.function.Function-java.util.function.BinaryOperator-

[2021-01-12 13:56] 102092 commented on #46
- 이게 무슨말인지 확실히 이해가 잘 안되네요.
- 점증적 인수목록 패턴, mapFactory 매개변수, downStream 매개변수가 어떤걸 의미하는 지 간단하게나마 알아보면 좋을 것 같네요..

[2021-01-13 13:50] ghojeong commented on #46
공부를 하며 이해한 내용을 코드로 정리해보기 위해,
1 부터 5까지의 리스트 안 숫자들의 합을 구해서, 15 을 반환하는 함수 sum 을 구현하려고 한다고 예시를 들어보겠습니다.

[code]

# side-effect가 있는 함수

우선 side-effect 있는 함수부터 에를 들어보겠습니다.
아래의 sum 함수는 num -> {...} 람다 함수에서, 함수 외부의 int sum 변수에 접근하고, 이를 변형하려 하고 있습니다.
함수 외부의 상태를 접근해서 변형을 하고 있고, 이는 곧 함수와 관련 없는 side-effect 를 뜻합니다.
다행스럽게도 자바에서는 컴파일 단계에서 실행조차 되지 못하게, 에러를 띄워줍니다.
기본 자료형에 대해서는 함수 외부의 side effect 를 잘 막아주지만, 객체를 통한

[2021-01-13 13:52] ghojeong commented on #46
위에서 side-effecct 가 없는 함수를 4가지 해결책을 통해 예시로 들어보았습니다.
질문에서 힌트를 주신대로, 부작용이 없는 함수란, 함수 외부의 변수 혹은 상태를 변경하지 않는 것을 뜻하지 않을까 생각합니다.
접근해서 읽는 것은 가능하되, 외부 상태를 변경하는 순간, 그것이 side-effect 가 된다고 생각합니다.

[2021-01-13 13:57] ghojeong commented on #46
제 생각에는 개발자 입장과, Java 라는 언어적 입장에서의 원인이 둘다 있다고 생각합니다.

개발자 입장에서는 기존의 절차지향과 객체지향의 패러다임으로 코딩하는 것에 익숙해져 있어서,
함수형 패러다임에 어긋나는 코딩 실수를 하게 될 때에 사이드 이펙트가 발생되는 함수를 작성하게 된다고 생각합니다.
(객체지향적 입장에서는 객체 단위로, 객체 외부에 대한 side-effect 만 주의할 뿐 함수 단위로 side-effect 를 주의하지는 않으니깐요 )

Java 언어 입장에서 말씀드리자면, 제 생각에 Java 는 철저한 객체지향 언어로써, 아직까지 완전한 함수형 언어를 지원하고 있지는 않다고 생각합니다.
가령, [Java 는 true closure를 지원하지 않습니다.](https://riptutorial.c

[2021-01-13 14:55] ghojeong commented on #46
저도 잘 이해가 안갑니다.
이해가 안가서 일단 모르는 영어 단어부터 검색을 해보았습니다.
telescoping 이 대체 무슨 의미인지 도통 모르겠네요.

이것저것 찾아서 공부를 해보니, 아무래도 [수학의 telescoping series](https://ko.wikipedia.org/wiki/%EB%A7%9D%EC%9B%90%EA%B8%89%EC%88%98)
에서 나온용어처럼 보입니다.

이럴수가! 호몰로지라니... 학교 다닐 때 대수학 좀 열심히 들어둘걸 그랬네요.
그래도 수학 공식을 쭉 읽다보니, `telescoping argument list` 라고 하면 argument 들이 서로 상쇄되어 소거가 될 것 처럼 느껴집니다.
[Cambridge 백과사전](https://dictionary.cambridge

[2021-01-13 14:58] ghojeong commented on #46
참고로 코드에 부작용이 있으면 안되는 이유에 대한 [훌륭한 예시](https://ko.javascript.info/ninja-code#ref-243) 를 알게되어 첨부합니다.

[2021-01-13 15:00] ghojeong commented on #50
복사본을 만들 시에 동일한 변수명을 활용하면 일어나는 [재미있는 예시](https://ko.javascript.info/ninja-code#ref-239) 를 찾게 되어서 공유해봅니다.

[2021-01-14 04:54] tmdgusya commented on #50
읽어봤는데 되게 흥미롭네요 ㅋㅋㅋ 은밀히 객체를 복사하여, 개발자의 훈련강도를 높인다니
이번 제 챕터는 사실 이러한 공격수단이 있다는 것을 알고, 자신이 다른 객체를 참조하여 작업할때는 해당 객체에 Setter 를 통한
공격이 가능한지? 혹은 그러한 공격이 영향을 미칠수 있는 요인들이 있는지를 잘 알아봐야겠다는 생각이 드네요.

[2021-01-14 04:59] tmdgusya commented on #46
Collectors 의 내부변수를 이용하면 새롭게 객체를 생성하여 해당 객체로 연산을 진행한뒤 반환해주는건가요?
@ghojeong

[2021-01-14 06:14] ghojeong commented on #46
아, 링크가 제대로 연결되어 있지 않았는데, 아래 캡처 부분을 의미하던 것이었습니다.
@tmdgusya

<img width="848" alt="스크린샷 2021-01-14 오후 3 14 02" src="https://user-images.githubusercontent.com/38595650/104551953-2e23db00-567b-11eb-9730-3839bb7322c2.png">

[2021-01-14 12:38] 102092 commented on #46
너무 좋은 답변 감사합니다!

[2021-01-14 12:59] 102092 commented on #47
해당 코드는 조금 이해가 어려운 것 같아요.
같이 어떻게 진행되는 지 되짚어보면 좋을 것 같습니다!

[2021-01-14 13:30] 102092 commented on #48
약간 주제에서 벗어난 내용인 것 같긴 한데, 한번 읽어보면 좋을 것 같아요

https://www.popit.kr/java8-stream%EC%9D%98-parallel-%EC%B2%98%EB%A6%AC/

[2021-01-17 11:58] kses1010 commented on #49
제가 너무 늦게 질문드리는 군요.
Spring에서는 validation으로 매개변수 유효에 대하여 검사할 수 있는데 그것보다 이것을 꼭 써야하는 이유를 알 수 있을까요?
제생각엔 예전에 토비의 스프링에서 읽었던 POJO(간단한 자바 오브젝트)를 만들기 위해서 validation보단 assert, requireNonNull 등을 써야하지 않나? 라는 생각입니다. 여기에 대해선 어떻게 생각하는지 궁금합니다.

[2021-01-17 12:30] kses1010 commented on #50
늦게 질문 드려서 죄송합니다!

여기서 네이티브 메서드나 리플렉션을 이용해서 불변식을 위배하는 방법이 어떤지 알고 싶습니다.

[2021-01-17 13:14] kses1010 commented on #48
위 글에서 이 아이템의 결론을 알 수 있군요

## Stream parallel을 실제 환경에서는?
Stream의 parallel에 대해 여러가지 논쟁과 토론이 많다. 주로 내용들은 Deadlock 상황이나 Thread가 의도하지 않게 많이 만들어 질 수 있다라는 내용이다. 주로 원인은 ForkJoinPool을 사용하면서 발생하는 문제이다. 여러 블로그나 문서를 참조하면 다음과 같은 parallel 사용 시 주의 사항이 많이 언급되고 있다.

- parallel stream 내부에서 다시 parallel stream 사용할 경우 synchronized 키워드는 deadlock 을 발생시킬 수 있다.
- 특정 Container 내부에서 사용하는 경우에는 parallel은 신중하게 사용해야 하며, Contain

[2021-01-17 17:27] david215 commented on #46
[Telescoping constructor](http://www.javabyexamples.com/telescoping-constructor-in-java)
telescoping한다는 표현이 생소할 수 있는데 쉬운 예시로 헤드폰을 생각해보시면 헤드폰 밴드가 사람 머리 사이즈에 맞춰서 늘렸다 줄였다 할 수 있는 움직임을 telescoping이라고 표현합니다. 위 링크에서 나온 것과 같이 매개변수가 더 많은 overloaded 함수를 정의할 때 매개변수의 순서를 바꾸지 않는 것을 telescoping argument list 패턴이라고 합니다.

[2021-01-17 17:48] david215 commented on #46
@ghojeong

closure에 대해서 추가하자면 자바에서는 기본적으로 중첩 함수의 개념이 존재하지 않고 scoping rule도 다르기 때문에 함수 단위의 변수 참조는 불가능하지만 자바에서 외부 변수가 final 또는 effectively final이어야만 참조할 수 있고, 또 변경할 수 없는 (원시타입 한정) 것은 오히려 함수형스럽다고 느껴집니다. 물론 다른 언어처럼 value object 등의 불변객체 지원은 부족하지만 (자바 14에서 record가 생기긴 했지만...)

[2021-01-17 17:50] david215 commented on #46
@ghojeong

마지막 사족으로 정확히 원래의 사전적 의미로는 자바에 call by reference는 없습니다. Call by address 정도로 타협할 수 있죠.

[2021-01-18 02:06] tmdgusya commented on #48
본문 내용 중 궁금한 것이 있어서 질문남깁니다. limit 을 쓰면 왜 병렬화로는 성능 개선을 기대할 수 없는 것인가요?

[2021-01-18 02:48] kses1010 commented on #48
limit()는 요소의 순서에 의존하는 연산이라 성능이 더욱 떨어진다고 합니다.
오라클 공식문서에 따르면 [stream](https://docs.oracle.com/javase/8/docs/api/java/util/stream/package-summary.html)

번역:
병렬 스트림의 경우 **순서 제한을 완화하면** 때때로 더 효율적인 실행이 가능할 수 있습니다. 중복 필터링 (distinct()) 또는 그룹화 된 축소 (Collectors.groupingBy())와 같은 특정 집계 작업은 요소 순서가 적절하지 않은 경우보다 효율적으로 구현할 수 있습니다. 마찬가지로 limit ()와 같이 발생 순서에 본질적으로 연결된 작업은 적절한 순서를 보장하기 위해 버퍼링이 필요할 수 있으며, 이는 병렬 처리의

[2021-01-18 02:52] kses1010 commented on #46
call by reference에 대한 건 slack의 백엔드 java방에 12월 31일에 호눅스와 브라이언이 말씀하신 게 있습니다.
브라이언왈: (function) call by value, -> pass by value // (variable) call by reference

[2021-01-18 02:55] kses1010 commented on #50
이건 조금 이상한 질문이겠지만, 대체 이 공격은 누가 하는 건가요?

[2021-01-18 02:58] ghojeong commented on #50
같이 일하는 동료, 새로 들어온 후임, 지금 퇴사하고 없는 선임 개발자 분들이 하시지요 ㅋㅋㅋ

[2021-01-18 03:01] kses1010 commented on #50
허허허 이해했습니다. 그러면 동료가 아니고 적이군요. 공격자라길래 저는 해커나 이런사람을 의미하는건가 라고 생각했습니다.
사실상 협업할 때 다른 개발자가 실수하는 걸 막는 용도라고 생각하면 되겠네요 ㅎㅎ

[2021-01-18 03:25] tmdgusya commented on #50
음 여러가지 인터넷을 뒤지다보니, 자바가 권한을 통해서 해킹이가능한데, private 생성자로 해두더라도 최상위 권한을 가지고 있다면 생성자 호출이 가능하다고 합니다. 그래서 해당 생성자 호출을 통해서 시스템에 오류를 일으키는 공격이 가능하다고 하네요. 이 부분은 저도 잘 읽어봤는데 이해가 되지 않아서, 일단은 pyro 가 말한것처럼, 저런 부작용이 발생할 수 있다는 것에 초점을 두어도 좋을듯 합니다.

간단하게 reflection 을 통한 공격방법을 소개해드립니다. 지금 간략하게 짜본 방법인데, 리플렉션이라는 기능을 이용하면 아래와 같은 코드로 공격이 가능합니다. 리플렉션이란 객체가 호출될 당시 시점에 객체를 생성가능하도록 해주는 기법이라고 합니다. 초기 자바에는 이렇게 동적으로 객체를 생성해주는 것이 존

[2021-01-18 08:14] david215 commented on #46
call by value에서 얘기하는 call이 function call을 얘기하는 거라서 variable call이라는 이름은 애매하다고 생각합니다. 어떤 의도로 접근한 건지는 알겠으나...

[2021-01-18 09:39] david215 commented on #47
@102092
그냥 알고리즘 문제라서 미팅 시간에 간단하게 훑고 넘어갈게요

[2021-01-18 12:30] 102092 commented on #49
@kses1010

꼭 써야할 이유는 없을 것 같아요.

그렇지만 Spring에서 `@valid` 라는 어노테이션을 만들어 놓은 건, 더 쉽고 다양하게 유효성 검사를 할 수 있기 때문이지 않을까 싶어요.

[2021-01-18 13:00] #49 closed, assigned to 102092

[2021-01-19 13:40] #48 closed, assigned to kses1010

[2021-01-19 14:09] 102092 opened #52 "[아이템 51] 메서드 시그니처를 신중히 설계하라"

[2021-01-19 14:10] 102092 opened #53 "[아이템 52] 다중정의는 신중히 사용하라"

[2021-01-19 14:10] 102092 opened #54 "[아이템 53] 가변인수는 신중히 사용하라"

[2021-01-19 14:11] 102092 opened #55 "[아이템 54] null이 아닌, 빈 컬렉션이나 배열을 반환하라"

[2021-01-19 14:11] 102092 opened #56 "[아이템 55] 옵셔널 반환은 신중히 하라"

[2021-01-19 15:19] #47 closed, assigned to david215

[2021-01-20 12:00] #50 closed, assigned to tmdgusya

[2021-01-20 12:15] 102092 commented on #52
- 여기서 빌더 패턴에 대해 #2 에 나눴던 이야기를 참조하시면 도움이 될 듯 싶습니다.

[2021-01-20 13:26] 102092 commented on #53
- 그 이유로 이제 서로 다른 함수형 인터페이스라도, 근본적으로는 다르지 않다고 이야기하고 있는데,
- 이게 어떤 의미인지 잘 감이 안오네요.
- 같이 한번 이야기 나눠봤으면 좋겠습니다

[2021-01-20 13:55] 102092 commented on #54
![image](https://user-images.githubusercontent.com/22140570/105184260-7eff6c00-5b72-11eb-9fd3-398371f57ee1.png)
- https://docs.oracle.com/javase/8/docs/api/java/util/EnumSet.html
- 신기하네요!

[2021-01-21 06:49] kses1010 opened #57 "[refactor] Clean Repo"
[code]

https://user-images.githubusercontent.com/49144662/105308894-2d9dbe00-5c00-11eb-8399-bec8f436c042.mov

[2021-01-21 09:17] tmdgusya commented on #52
빌더 패턴에 관한 이야기도 덕분에 추가하고, 조금 더 학습할 수 있었습니다.

[2021-01-21 09:18] tmdgusya commented on #52
사실 잘 이해가지 않는건, 메소드를 많이 만들지마라? 이부분인것 같아요
관심사가 제대로 분리되지 않은걸 분리를 잘시키라는건지? 아니면 단순히 메소드를 많이 만들지 말라는건지 이해가 잘가지 않네요

[2021-01-21 09:20] tmdgusya commented on #53
상위 클래스를 조심해서 오버로딩해라.. 상당히 실수하기 좋은 부분을 짚어주는것 같네요.

[2021-01-21 09:23] tmdgusya commented on #53
읽어봤는데 어려운 내용이라 다같이 보면서 생각해봐야겠네요. 일단 본문 예제 에서의 키워드는 println 인것 같은데
다중정의 해소 알고리즘에 대해서도 알아봐야 할듯하네요.

[2021-01-21 10:44] ghojeong commented on #46
이슈 Close 하겠습니다.

[2021-01-21 10:44] #46 closed, assigned to ghojeong

[2021-01-21 13:43] david215 commented on #53
@102092 @tmdgusya
- 다중정의 해소 알고리즘에서 왜 서로 다른 함수형 인터페이스가 인식이 되지 못 하고, 정확히 inexact method reference가 뭔지까지 컴파일러 이론을 깊게 파고들 필요는 없는 거 같고 간단한 예시들에 대한 설명과 키포인트만 짚고 넘어갈게요.
- 오버로딩이 된 메서드가 같은 위치에 함수형 인터페이스를 인수를 받는 예시가 바로 ExecutorService의 [1. submit(Runnable)](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/util/concurrent/ExecutorService.html#submit(java.lang.Runnable))와 [2. submit(Callable)

[2021-01-22 13:55] 102092 commented on #53
- `submit` 의 경우 Runnable 혹은 Callable 이라는 함수형 인터페이스를 받네요.
- println의 메서드의 경우 Runnable, Callable 인터페이스형태로 둘다 반환할 수 있기 때문에 애매하다고 여겨져 컴파일 단계에서 에러가 발생하는 거라고 이해하면 될까요?
- 친절한 설명 감사합니다. ㅎㅎ

[2021-01-22 13:56] 102092 commented on #57
??? 이건 뭘까요..

[2021-01-22 13:59] 102092 commented on #52
관심사가 제대로 분리되지 않은걸 분리를 잘시키라는건지? 아니면 단순히 메소드를 많이 만들지 말라는건지 이해가 잘가지 않네요

- 관심사 분리가 어떤 걸 의미하는 걸까요?
- 저는 후자의 느낌으로 이해했어요.
   - 너무 무분별하게 메소드를 쪼개면, 전반적인 코드 이해를 하기가 힘들어질꺼라 생각해요.
   - 그래서 이 아이템에서는 메서드를 쪼개는 기준에 대해 언급한 것 같아요

[2021-01-22 14:07] 102092 commented on #56
-  http://homoefficio.github.io/2019/10/03/Java-Optional-%EB%B0%94%EB%A5%B4%EA%B2%8C-%EC%93%B0%EA%B8%B0/

[2021-01-22 14:30] david215 commented on #53
@102092

조금 더 정확히 들여다보면 println 메서드 중에 Callable 인터페이스의 형태인 경우는 없네요. 아웃풋을 반환하는 경우가 없으니까요. 오버로딩이 되어서 "inexact" 해지는 것 자체에서 컴파일 에러가 발생하는 것으로 보여집니다!

[2021-01-24 11:33] ghojeong commented on #52
저도 이 부분이 읽다가 잘 이해가 가지 않았는데,
`Don’t go overboard in providing convenience methods.` (편의 메서드를 너무 많이 만들지 말자.) 라는 표현에서
`convenience methods` 가 정확히 무엇을 의미하는 것일까요?
public 으로 선언되어, class 혹은 패키지 바깥에서 사용할 수 있는 메서드를 의미하는 것일 까요?

[2021-01-24 12:57] kses1010 commented on #56
# Optional 사용할 때 주의할 점 정리

사실상 위 링크에서 이 아이템에 대하여 제대로 정리한 글이라고 생각합니다.

1. isPresent()-get() 대신 orElse()/orElseGet()/orElseThrow()

2. orElse(new ...) 대신 orElseGet(() -> new ...)

3. 단지 값을 얻을 목적이라면 Optional 대신 null 비교

4. Optional 대신 비어있는 컬렉션 반환

5. Optional을 필드로 사용 금지

6. Optional을 생성자나 메서드 인자로 사용 금지

7. Optional을 컬렉션의 원소로 사용 금지

8. of(), ofNullable() 혼동 주의

9. Optional<T> 대신 OptionalInt, OptionalL

[2021-01-24 13:17] tmdgusya commented on #52
저는 관심사(특정 클래스 혹은 개체 에서 분리될 수 있는 데도 관심사가 겹쳐져있는?)가 제대로 분리되지 않아서 메소드가 많아진다고 생각했는데, 생각해보니 의미를 두기 위해 한두라인을 메소드로 나눠버리면 무분별하게 많아질 수 도 있겠다 라는 생각이 드네요.

[2021-01-24 13:22] tmdgusya commented on #52
편의 메소드에 대해서 알아보고 있는데, 정확히 어떤 뜻인지 모르겠네요. 월요일날 다같이 이야기 해봐도 좋을것 같아요.

[2021-01-24 13:24] tmdgusya commented on #55
null 말고 빈 배열, 혹은 빈 컬렉션을 보내는건 흥미롭네요.
사실 null 일때 처리를 해줘야지 이런 생각이 있었는데, 그런것보다 빈 컬렉션을 넘겨줬을때가 로직을 구현하기에도
조금 더 편할것 같네요.

[2021-01-25 09:52] tmdgusya commented on #52
찾았네요 단순히 이런뜻인가봐요

편의 함수, 편의 메소드
원문: https://en.wikipedia.org/wiki/Convenience_function

편의 함수는 자주 하는 작업을 더 쓰기 편하게 만들기 위해 만들어집니다. 편의 함수(convenience function) 또는 편의 메소드(convenience method)는 프로그래밍 라이브러리 또는 프레임워크에서 꼭 필요하지는 않은(비본질적) 서브루틴입니다.
이 편의 함수들은 지루한 작업을 줄이기 위해 그 라이브러리를 만든 사람이 임의로 덧붙였을 수도 있습니다. 또는, 무엇을 편의 함수로 만들면 좋을지에 대해 개발자들이 커뮤니티에서 토론하며 작업한 리팩토링 결과일 수도 있습니다.
편의 함수가 하는 일은 거의 항상 다른 연산들로도 표현될 수 있습니

[2021-01-25 10:16] ghojeong commented on #54
EnumSet 에 관한 공식문서 링크 감사합니다. 53 아이템을 관통하는 핵심 같습니다.

[2021-01-25 10:23] ghojeong commented on #55
`null을 반환하는 API 는 사용하기 어렵고, 오류 처리 코드도 늘어난다. 그렇다고 성능이 좋은 것도 아니다.`
이 말이 격하게 공감되네요. 프론트 개발할 때, ListView 를 보여주기 위해 백엔드 API 를 요청하면 empty array 인 경우와 null 인 경우가 있어서, 이 둘의 예외 처리 때문에 야근했던 적이 있어서요.
null 리턴을 금지할 뿐만 아니라 `Optional<List<T>>` 처럼 Optional 안에 Collection 이나 Array 타입도 generic 에 집어넣으면 안된다고 생각하는데 어떻게 생각하세요?

[2021-01-25 10:38] ghojeong commented on #55
아이템 56(#56) 에서 Optional<Collection> 을 할거면 비어있는 Collection 을 반환하라고 이미 나와 있군요.

[2021-01-25 10:41] ghojeong commented on #54
`5개 미만(0개부터 4개까지)의 가변 인수에 대해서는 오버로딩을 통한 최적화를 해주는게 좋다.`

아이템 53 내용은 위의 한 문장으로 요약하면 될것 같습니다.

[2021-01-25 13:13] #55 closed, assigned to 102092

[2021-01-25 13:23] kses1010 opened #58 "[아이템 56] 공개된 API 요소에는 항상 문서화 주석을 작성하라"

[2021-01-25 13:24] kses1010 opened #59 "[아이템 57] 지역변수의 범위를 최소화하라"

[2021-01-25 13:25] kses1010 opened #60 "[아이템 58] 전통적인 for 문보다는 for-each 문을 사용하라"

[2021-01-25 13:25] kses1010 opened #61 "[아이템 59] 라이브러리를 익히고 사용하라"

[2021-01-25 13:26] kses1010 opened #62 "[아이템 60] 정확한 답이 필요하다면 float와 double은 피하라"

[2021-01-25 13:27] kses1010 opened #63 "[아이템 61] 박싱된 기본 타입보다는 기본 타입을 사용하라"

[2021-01-25 13:27] kses1010 opened #64 "[아이템 62] 다른 타입이 적절하다면 문자열 사용을 피하라"

[2021-01-25 13:28] kses1010 opened #65 "[아이템 63] 문자열 연결은 느리니 주의하라"

[2021-01-25 13:28] kses1010 opened #66 "[아이템 64] 객체는 인터페이스를 사용하라"

[2021-01-26 06:17] tmdgusya commented on #52
01/25 스터디간 깨달았던 내용정리

David 가 이야기 했던대로, 편의 메소드는 클라이언트 입장에서 이해하니 좀 잘 이해가 됬다. 우리가 기본적인 기능을 제공하는 것 이외에 사용자의 편의 혹은 해당 라이브러리 이어질 수 있는 반복적인 작업을 조금 더 편리하게 하자고 메소드를 만들때에도 기본적으로 제공하는 API 들로도 구성할 수 있다면 만드는 것보다는 사용자가 응용하도록 하는게 조금 더 라이브러리 유지보수 측면에서도 좋아질 것이란 생각이 든다.

[2021-01-26 06:24] #52 closed, assigned to tmdgusya

[2021-01-27 01:29] #53 closed, assigned to david215

[2021-01-27 01:53] david215 commented on #58
self-use에 대한 아이템이 원문에는 아이템 15라고 되어있는데 오타네요. 3판 기준으로 아이템 19 참고하시면 될 거 같아요. 번역본에는 맞게 돼있을 지도?

[2021-01-27 02:27] david215 commented on #58
[code]
self-use 패턴의 예시를 생각해보니까 아이템 47에서 봤던 `AbstractList`의 `get(int)` 메서드를 통해 `Iterator`를 구현했던 게 생각이 나서 소스 코드를 찾아보니 `@implSpec` 태그에 self-use가 문서화 되어있군요. 인텔리제이로 decompile된 소스 코드에는 Javadoc이 없어서 실제 소스 코드를 까봐야하는 번거로움이 있기는 합니다...

추가: [Stack Overflow](https://stackoverflow.com/a/53031399)에 실제 소스 코드를 볼 수 있게 설정하는 방법이 있네요.

[2021-01-27 12:25] 102092 commented on #58
@david215 번역본에서도 p335쪽에 '..아이템 15에서 이야기 했듯이..' 라고 나오네요..

[2021-01-27 12:31] 102092 commented on #58
- 아이템의 설명은 많지만, 생각보다 그렇게 어렵지 않네요
- 그렇지만 이 부분은 추후 주석 작성할 때 옆에 두고 참고가 필요한 내용 같습니다.

[2021-01-27 12:32] tmdgusya commented on #64
이번 장 공부하다가 문자열은 열거타입을 대신하기에 적합하지 않다 라는 구문이있는데.. 해당 구문이 잘 이해가 되지않네요 참고할 수 있는 챕터를 봐도 잘 이해가 되지 않아서 혹시 해당부분 이해할 수 있도록 설명해주실분 있으신가요?

[2021-01-27 12:44] tmdgusya commented on #65
이 분이 두개의 차이점을 메모리적인 부분을 그래프로 나타내서 설명했더라고요.
참고하면 좋을 것 같아서 링크 걸어두겠습니다!
https://javacan.tistory.com/entry/41

[2021-01-27 12:51] #56 closed, assigned to kses1010

[2021-01-27 13:13] 102092 commented on #60
for-each문이 enhanced for statement 의미라는 건 처음 알았네요!

[2021-01-27 13:30] 102092 commented on #61
- 라이브러리를 이해하고, 적극적으로 이용하는 건 코드 품질을 높이는 데 좋은 방법 인 것 같습니다 (특히 Java 관련)
- 다만 서드파티의 사용의 경우 저도 다른 분들께 여쭤본 적이 있는데요,
   - 의존성 문제도 있고
   - 필요한 기능을 제공하는 라이브러리를 먼저 찾기보단,
   - 기본적으로 제공되는 라이브러리를 통해, 직접 만들어 보는 게 자신의 실력을 기르는 데 좀 더 도움이 되는 것 같다는 조언을 받았습니다.
- Guava나 Apache Common lang같은 대표적인 서드 파티는 사용해도 괜찮은 것 같지만, 무분별하게 사용하는 건 지양해야할 것 같다는 느낌이 드네요 ㅎㅎ

[2021-01-27 13:35] 102092 commented on #62
- BigDecimal docs : https://docs.oracle.com/javase/7/docs/api/java/math/BigDecimal.html
- BigDecimal가 어떻게 사용되는 지에 대해 : https://www.baeldung.com/java-bigdecimal-biginteger

[2021-01-28 00:59] #54 closed, assigned to ghojeong

[2021-01-28 12:43] 102092 commented on #63
- 여기서 말하는 identity는 해당 인스턴스가 올라가있는 메모리 주소값..? 이라고 이해하면 될까요?

[2021-01-28 13:02] 102092 commented on #64
- #34
- 우선 열거타입을 왜 쓰는 지 부터 생각해봐야할 것 같아요. 열거 타입을 왜 사용하는 걸까요?
- 제 생각으로는 작게는 클래스, 크게는 해당 프로젝트 내에서 그 변수의 유일성을 보장해주기 위해서가 아닐까 싶어요.
- enum이라는 클래스 내부에서 같은 이름의 변수를 추가하였을 경우, 컴파일러가 에러가 발생하지만
- 문자열의 경우, 해당 문자가 클래스 내부에서 유일한지 알아보기 위해서는 추가적인 코드가 필요할 거라 생각되어요. 즉 귀찮아지는 거죠.
- 다시 말해, 해당 값의 유일성을 쉽게 보장하고, 개발자의 오류를 방지하기 위해서(컴파일러의 도움을 받아) enum이라는 게 등장하지 않았나 생각하고 이러한 측면에서 문자열이 이를 대체하기엔 적합하지 않다고 본 것 같아요.
- 가볍게 생각해봤습니다..

[2021-01-28 13:16] 102092 commented on #65
https://redfin.engineering/java-string-concatenation-which-way-is-best-8f590a7d22a8

이 포스팅도 읽을만한 것 같습니다~

[2021-01-28 13:25] 102092 commented on #66
- 읽다보니까, Spring DI (Dependency Injection) 이 생각나는 것 같네요..
- https://www.baeldung.com/inversion-control-and-dependency-injection-in-spring

[2021-01-30 05:49] tmdgusya commented on #61
저도 한님의 말씀에 어느정도 와닿는 것이 있네요. 기본적인 라이브러리를 만들어보고, 타 라이브러리와 비교해보면서 실력을 발전시키는것도 도움이 될것 같네요. 급하게 반영하거나, 정말 만드는 시간대비 가치가 떨어지는 것이라면 서드파티 라이브러리를 사용해도 좋을 것 같네요.

[2021-01-30 06:01] tmdgusya commented on #64
변수의 유일성과 컴파일러상에서의 에러 체크 그것이 중요한것 같네요.
chapeter 34 를 차근차근 읽고있는데, 번역본 219page 에 이말이 조금은 와닿네요.
필요한 원소를 컴파일타임에 다 알수 있는 상수 집합이라면 항상 열거 집합을 사용하자.

[2021-01-30 06:04] tmdgusya commented on #66
저도 이거 보면서 DI 만 생각났네요.. 근데 확실히 인터페이스를 잘 쓰면 프로그램이 상당히 유연해지고, 코드를 짜는 습관에도 도움이 많이 되더라고요. 먼져 추상화 시키려하는 습관들이 생겨서

[2021-01-30 13:35] ghojeong commented on #58
@102092
현업자에게 궁금한게 있는데, 현업에서 API 구현 중에 회사 외부의 Client 요청에 의해서 수정사항이 있을 때는 문서를 어떻게 업데이트 하시나요?

가령 본인 경험담이기도 한데, 문서와 함께 간단한 CRUD API 를 제공했는데,
갑자기 여러 고객사 중 단 한 명의 고객이, 본인인은 body 에 데이터를 담아서 post 요청하는게 너무 어렵다며, 퍼센트 인코딩을 요구했던 적이 있습니다.
덕분에 그 고객 한명만을 위해, post 요청이 아닌 방식으로 API 사용시, 미들웨어를 통해 퍼센트 인코딩을 지원했던 경험이 있는데,
이것은 바람직한 API 의 사용법이 아니라 생각했기에, 예외적인 기능에 대한 API 문서를 업데이트 하지 않았었습니다.

이런식으로 의견차가 생겼을 때, 체계적인 회사에서는

[2021-01-30 13:37] ghojeong commented on #59
아이템 57은 요약하자면 아래 3가지이네요.
크게 어려운게 없어서, 질문이 적으실것 같습니다.

1. 지역 변수를 가장 처음 쓰일 때 선언하라.
2. 지역 변수를 선언과 동시에 초기화 하라.
3. 메서드를 작게 만들고, SRP 를 지켜라

[2021-01-30 13:41] ghojeong commented on #60
이번 아이템은 제곧내 이네요.

저도 `for-each` 문과 `enhanced for statement` 의 이름이 같다는 것과
Collection 인터페이스를 구현하지 않더라도 Iterable 은 구현해야한다는 게 인상깊네요.

앞으로는 일급 컬렉션 객체를 만들게 되면 implements Iterable 을 꼭해야겠습니다.

[2021-01-30 13:47] ghojeong commented on #61
이번 챕터를 요약하면 "바퀴를 다시 발명하지 말자." 가 핵심 같네요.

이미 서드 파티 라이브러리를 사용하는 것에 대해서 여러 의논이 오갔는데,
여러분들은 서드파티 라이브러리를 선택하는 기준이 보통 어떻게 되시나요?

저는 보통
1. 얼마나 많은 사람들이 최근 해당 라이브러리를 다운받았는지,
2. 라이브러리의 유지보수가 최근까지 활발하게 이루어지고 있는지

위 의 2가지를 기준으로 서드파티 라이브러리를 신뢰할지 고민합니다.
회사가 아무리 유명하고, 많은 사람들이 사용하고 있더라도,
마지막으로 서드 파티 라이브러리의 프로젝트의 github 타일이 초록색인 시점이 1년 이상이면 사용하기를 꺼리게 되는 것 같아요.
(npm 라이브러리 기준으로 이야기합니다. 자바 쪽에서는 npm 같은 중앙 집권적인 패키지 매니저

[2021-01-30 13:50] ghojeong commented on #62
아이템 60을 요약하자면, "돈을 계산할 때는 float 와 double 을 금지하고, BigDecimal 을 사용해라" 이군요.

BigDecimal 에 대해서 공부해봐야할 것  같은데, 좋은 문서 링크 감사합니다.

[2021-01-30 13:55] ghojeong commented on #63
저도 대충 그렇게 이해했습니다.

책에서 지적하는 위험성 (identity 나, null 값에 대한 위험성) 은
기본 연산자를 사용하지 않고 eqauls 함수나 compare 함수를 대신 사용함으로써 피할 수 있다고,
책에서 나오기는 하네요.

자바에서 제네릭을 사용하게 되면 어쩔 수 없이 박싱된 기본 타입을 사용할 수 밖에 없을 때가 있는데,
이럴 때 기본 연산자를 금지하고, 철저하게 객체의 함수 콜만을 사용하면 괜찮지 않을까 생각합니다.
(자바가 제네릭에 기본 타입을 지원해주면 좋을텐데 ㅠ.ㅠ)

[2021-01-30 14:14] ghojeong commented on #66
제가 Spring 을 전혀 몰라서, 덕분에 올려주신 링크 읽어보면서 공부를 할 수 있었는데,

"객체는 인터페이스를 사용해라" 에서 DI 가 떠오르신 이유가 무엇인지 좀더 설명해주실 수 있으신가요?

보니깐 ApplicationContext 에서 xml 에 정의된 내용에 따라,
클래스의 인터페이스로 선언된 객체에게 실제 클래스를 "Injecting" 하는 내용 같은데,
DI 를 하기 위해서는 인터페이스를 사용해야하기에 떠오르셨던건가요?

대화 흐름을 못따라가서 여쭈어봅니다.

[2021-01-31 02:28] kses1010 commented on #58
책내용 보면서 계속 생각나는 글입니다. 자바는 어쩔 수 없이 계속 길어질 수 밖에 없을까요...
https://medium.com/@webseanhickey/the-evolution-of-a-software-engineer-db854689243

[2021-01-31 02:44] kses1010 commented on #61
시간 라이브러리에 대한 좋은 글입니다. 자바7에서 자바8로 넘어갈 때 Joda-Time을 적용했는데 그 이전에는 어떤 라이브러리를 써서 문제를 해결했는가에 대한 글입니다.
코드스쿼드에서 네이버를 만든 자바 기술? 이었나 그 책에서 봤었는데 시간 라이브러리에 대한 설명이 있어서 가져왔습니다.
https://d2.naver.com/helloworld/645609

[2021-01-31 02:49] kses1010 commented on #64
우아한형제들 블로그 enum
https://woowabros.github.io/tools/2017/07/10/java-enum-uses.html
### 결론
![image](https://user-images.githubusercontent.com/49144662/106373178-481f2680-63ba-11eb-94b8-6ee66bfa5aa0.png)

[2021-01-31 03:12] kses1010 commented on #66
토비의 스프링, 김영한님의 스프링 강의를 수강하면서 정리한 내용입니다.

## 제어의 역전 (IoC: Inversion of Control)

- AppConfig가 등장 후 구현 객체는 자신의 로직을 실행하는 역할만 한다. 프로그램의 제어 흐름은 AppConfig가 담당한다.
→ orderServiceImpl은 필요한 인터페이스들을 호출하지만 어떤 구현 객체들이 실행될지 모름.
- 프로그램의 제어 흐름을 직접 제어하는 것이 아니라 외부에서 관리하는 것
→ **제어의 역전(IoC)**

### 프레임워크 vs 라이브러리

- 프레임워크: 내가 작성한 코드를 제어, 대신 실행하면 프레임워크(JUnit)
- 라이브러리: 내가 작성한 코드가 직접 제의 흐름을 담당. (객체 → JSON으로 바꾸기)

## 의존관계

[2021-01-31 04:39] kses1010 commented on #60
인텔리J에선 iter 라고 치면 자동으로 생성해줘서 편하군요

[2021-01-31 05:42] kses1010 commented on #63
단이 저의 프로젝트에서 코드 리뷰해주실 때 primitive class, wrapper class 기준점 입니다.
![image](https://user-images.githubusercontent.com/49144662/106375764-7e68a000-63d2-11eb-93d4-b0a5c65d7d69.png)

[2021-01-31 16:44] david215 commented on #61
@ghojeong
자바 진영에서는 보통 [Maven Central](https://mvnrepository.com/repos/central)에서 찾아서 씁니다.

[2021-01-31 17:28] david215 commented on #63
@102092

맞습니다. 하지만 [코드 예시](https://github.com/java-squid/effective-java/blob/master/chapter09/item61/BoxedTypeIdentity.java)를보면 `Integer.valueOf(i) == Integer.valueOf(j)`의 값이 `true`라고 나옵니다. 즉 둘의 메모리 주소값이 같다고 나오는데 그 이유는 IntegerCache에 있습니다.
[code]

[2021-01-31 17:59] david215 commented on #63
@ghojeong

예를 들어 List<Integer>가 있고 리스트 안에 들어있는 원소에 대한 연산을 하고 싶다면 기본 연산자를 피할 수는 없겠죠. 박싱된 타입은 뭐라도 하려면 일딴 언박싱을 해야돼서... 자바 제너릭의 원천적인 문제인지라 ㅠ 정말 성능이 중요한 상황이라면 `int[]` 쓰는 수 밖에...

이건 [Project Valhalla](https://en.wikipedia.org/wiki/Project_Valhalla_(Java_language))에서 건드려 보고는 있는 거 같은데 언제쯤 나오려나...

[2021-01-31 18:10] david215 commented on #63
@kses1010
1. OptionalInt, OptionalLong 등을 사용해서 쿼리 반환값이 없는 경우를 핸들링 할 수도 있지 않을까요.
2. `@RequestParam`이나 `@RequestBody`의 경우에도 빈 값을 받는 경우 custom serializer, deserializer을 통해서
    - enum 값으로 지정해준다거나 (예를 들어 `int count = Product.DEFAULT_COUNT`)
    - 역시 OptionalInt, OptionalLong 등으로 처리할 수 있을텐데
좀 귀찮기는 한데 데 빈 값이라고 그냥 null로 해놓으면 나중에 실수를 할 수도 있고 베스트 프랙티스인지는 모르겠습니다.
3. DTO도 null value 들고 있을 수 있으니 DAO / Entity

[2021-02-01 01:11] kses1010 commented on #63
primitive 사용을 나눈게 아니라 **허용**되는 경우니 DTO도 null value 들 수 있죠.
primitive의 기본값
- boolean: false
- byte: 0
- short: 0
- int: 0
- long: 0L
- float: 0.0F
- double: 0.0
- char: '\u0000'

[2021-02-01 12:30] 102092 commented on #64
- https://javacan.tistory.com/entry/ThreadLocalUsage

[2021-02-01 12:47] ghojeong opened #67 "[아이템 65] 리플렉션보다는 인터페이스를 사용하라"

[2021-02-01 12:51] ghojeong opened #68 "[아이템 66] 네이티브 메서드는 신중히 사용하라"

[2021-02-01 12:52] ghojeong opened #69 "[아이템 67] 최적화는 신중히 하라"

[2021-02-01 12:53] ghojeong opened #70 "[아이템 68] 일반적으로 통용되는 명명 규칙을 따르라"

[2021-02-01 12:54] ghojeong opened #71 "[아이템 69] 예외는 진짜 예외 상황에만 사용하라"

[2021-02-01 12:55] #58 closed, assigned to 102092

[2021-02-01 12:57] #57 closed, assigned to david215

[2021-02-01 13:01] kses1010 commented on #60
@ghojeong
일급객체
https://jojoldu.tistory.com/412

[2021-02-02 08:42] #61 closed, assigned to tmdgusya

[2021-02-02 08:42] #64 closed, assigned to tmdgusya

[2021-02-03 07:39] #60 closed, assigned to kses1010

[2021-02-03 07:40] #62 closed, assigned to kses1010

[2021-02-03 08:00] kses1010 commented on #67
리플렉션의 자바 문서: `Class Class <T>`
https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html

[2021-02-03 08:11] kses1010 commented on #68
백기선님 [더 자바] 인강에서 왈...

네이티브 메서드를 좀 더 알기 위해서 JVM의 JNI에 대해 공부해야겠네요.
[A Simple Java Native Interface (JNI) example in Java and Scala](https://schlining.medium.com/a-simple-java-native-interface-jni-example-in-java-and-scala-68fdafe76f5f)

[2021-02-03 08:17] kses1010 commented on #71
스프링의 Exception 전략(프로젝트 할 때 큰 도움이 됨)
https://cheese10yun.github.io/spring-guide-exception/

[2021-02-03 10:47] #59 closed, assigned to ghojeong

[2021-02-03 10:54] #66 closed, assigned to ghojeong

[2021-02-03 12:35] 102092 commented on #67
리플렉션 성능에 관한 글입니다. 가볍게 볼만해요
https://yjacket.tistory.com/73

[2021-02-03 12:41] 102092 commented on #67
한번 언급했던 것 같은데, Spring에서는 사용되는 어노테이션들이 이 리플렉션을 기반으로 동작하는 걸로 알고 있습니다.
그에 대한 흐름을 아래 포스팅에서 조금 파악할 수 있을듯 합니다!
https://sas-study.tistory.com/271

[2021-02-03 12:50] 102092 commented on #67
1. 왜 성공하는 걸까요?
2. 왜 인스턴스를 생성하려 할 때 오류가 발생할까요?

[2021-02-03 12:59] kses1010 commented on #67
현재 백기선님 더 자바 강의를 보고있는데 https://sas-study.tistory.com/271 링크와 똑같습니다.
호눅스가 추천하셨던 백기선님 강의 [더 자바, 코드를 조작하는 다양한 방법](https://www.inflearn.com/course/the-java-code-manipulation/dashboard) 좋으니 만약 여유가 있으시면 꼭 보는걸 추천합니다.

[2021-02-03 13:17] 102092 commented on #68
네이티브 메서드의 주요 쓰임세 중에, 1번인 '레지스트리 같은 플랫폼 특화 기능' 이란 무엇을 의미하는 걸까요?

[2021-02-03 13:23] kses1010 commented on #67
## 리플렉션 정리(백기선님 강의)
### 리플렉션 사용시 주의해야할 사항
- 지나친 사용은 성능 이슈가 발생. (잘못 적용시)
- 컴파일 타임에 확인되지 않고 런타임 시에만 발생하는 문제를 만들 수 있다. (잘못 적용시)
- 접근 지시자를 무시할 수 있다. (의도적으로 한다면)

### 사용되는 곳
- 스프링
  - 의존성 주입
  - MVC 뷰에서 넘어온 데이터를 객체에 바인딩 할 때
- 하이버네이트
  - `@Entity` 클래스에 Setter가 없을 시 리플렉션을 사용한다.
- JUnit
  - https://junit.org/junit5/docs/5.0.3/api/org/junit/platform/commons/util/ReflectionUtils.html

[2021-02-03 13:31] kses1010 commented on #69
프로파일러에 대한 내용이 나와서 제가 추천하는 도서는 이상민 개발자님의 [자바 성능 튜닝 이야기](http://www.yes24.com/Product/Goods/11261731?OzSrank=2)입니다.
조금 더 최신의 내용을 알고 싶다 -> 네이버 개발 블로그에서 이상민을 검색하면 자바 튜닝, 측정도구, 최적화에 대한 내용이 있습니다.
https://d2.naver.com/search?keyword=%EC%9D%B4%EC%83%81%EB%AF%BC
이 내용은 [네이버를 만든 기술](http://www.yes24.com/Product/Goods/16813496) 에서도 나옵니다. 코드스쿼드에 있는데 오프라인은 막아놓은 상태라 슬프네요. 또 하필 절판이라서 더 슬픔.

[2021-02-03 13:34] kses1010 commented on #69
제가 자바 성능 튜닝 이야기, 네이버를 만든 기술, 이펙티브 자바의 아이템 67을 보면서 공통점은

였습니다.

[2021-02-03 13:37] kses1010 commented on #70
구글 자바 스타일 가이드
네이밍 원본: https://google.github.io/styleguide/javaguide.html#s5-naming
번역: https://velog.io/@new_wisdom/JAVA-Google-Java-Style-Guide-%EB%B2%88%EC%97%AD

[2021-02-04 01:24] tmdgusya commented on #69
좋은 글 감사합니다. 아쉽게도 BTrace 링크는 막힌것 같은데 다른 자바 성능 측정도구를 이용해서 해봐야겠네요.

[2021-02-04 01:28] tmdgusya commented on #69
이번 본문에서 전 아이템에서 나왔던 방어적 복사에 대한 내용이 나왔는데, 방어적 복사도 객체를 생성하는 비용이 드니까, 성능 측정에 영향을 줄 수 있으니 그런 부분이 많아 지지 않도록 최대한 설계 과정에서 고려되어야 한다는 것도 깨닫게 된것 같네요.. 근데 궁금한 것은 방어적 복사 코드로 인해성능에 문제가 일어난다면, 어떤 방식으로 줄일 수 있을지 궁금합니다

[2021-02-04 01:30] tmdgusya commented on #67
와 진짜 좋은 글이네요. 한번 리플렉션을 이번주에 간단하게나마 예시로 공부해봐야겠다는 생각이드네요.

[2021-02-04 08:42] #63 closed, assigned to david215

[2021-02-04 08:42] #65 closed, assigned to david215

[2021-02-05 14:14] 102092 commented on #69
p378쪽에 하단에 이에 대한 설명이 나오는 듯 해요.
1. 해당 인스턴스를 반환할 때 불변으로 만들어서 반환하거나 (이 부분이 어떻게 성능을 최적화할 수 있을지 아직 잘 모르겠네요)
2. Dimension 객체의 기본 타입 값을 따로 반환하거나.
2번 같은 경우, 인스턴스를 반환하는 것이 아니라 기본 타입 값을 반환함으로 성능상 문제를 줄일 수 있다고 이해했습니다.

[2021-02-05 14:23] 102092 commented on #70
재밌네요. 평소에 명명에 있어 모호했던 부분들에 도움이 될 듯 합니다 👍

[2021-02-05 14:39] 102092 commented on #71
p388 지침 3가지에 대해 이해해보고 있는데 잘 안되네요.
그래서 어떤 예시 코드가 있을지 생각해보고 있는데... 잘 안 떠오르네요.
한번 같이 생각해보면 좋을 것 같아요!

[2021-02-06 08:53] kses1010 commented on #71
자바의 예외처리
https://johngrib.github.io/wiki/java-exception-handling/#from-%EC%9D%B4%ED%8E%99%ED%8B%B0%EB%B8%8C-%EC%9E%90%EB%B0%94

[2021-02-07 03:49] tmdgusya commented on #67
저번에 David 가 리플렉션을 이용해서 Annotation 이 동작한다고 들었던것 같은데, 이번 기회에 공부해봐도 좋겠네요.

[2021-02-07 04:33] tmdgusya commented on #69
https://www.notion.so/277e98c2afdc4ecfb7f123e53d800538

스터디간 간단하게 발표할 내용 정리해 보았습니다.
사실 최적화에 관한 부분은 경험이 없어서 다른 포스트를 읽거나 책의 내용을 정리하는데 중점을 뒀네요.

[2021-02-07 06:22] kses1010 commented on #67
리플렉션을 이용해서 Annotation 정보를 가져오거나 조작할 수 있다고 생각할 수 있군요

[2021-02-07 11:59] david215 commented on #68
@102092
좀 검색을 해보긴 했는데 잘 모르겠네요.
윈도우에 regedit으로 볼 수 있는 그런 걸 얘기하는 걸까요...? 흠

[2021-02-07 13:14] david215 commented on #69
@tmdgusya

[[아이템 17] 변경 가능성을 최소화하라](https://github.com/java-squid/effective-java/issues/17)와 [[아이템 50] 적시에 방어적 복사본을 만들라](https://github.com/java-squid/effective-java/issues/50)와 같이 연결해서 생각해보면 좋을 거 같습니다. 만약에 객체가 처음부터 불변객체였다면 (예를 들어 [java.time.Instant](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/time/Instant.html)) 객체를 복사해야할 필요 자체를 원천적으로 차단할 수 있었겠지요. 한이 말한 것처럼 객체의 기본 타입 값을 따로 반

[2021-02-07 13:28] david215 commented on #68
예전에 아이템 8에서 [JNI 코드 예시](https://github.com/java-squid/effective-java/commit/b2de5e9f9f58904ad1bfbec39a3e95f4fff0b1bb)를 만들어 본 적이 있는데 심심하면 참고해보세요.

[2021-02-07 14:15] david215 commented on #71
EAFP vs LBYL에 대한 [스택 오버플로우 포스트](https://stackoverflow.com/a/405220)

[2021-02-08 10:38] ghojeong commented on #67
질문 뒤늦게 확인해서 답변 올립니다.

[code]

위 코드의 런타임에서 왜 1번과 2번은 성공하고 3번은 실패하는 걸까요?

저는 인터페이스가 구현하기를 요구하는 메서드가 인스턴스 내에 존재하느냐의 유무로 달라진다고 이해했습니다.

가령 `Class.forName("java.lang.String")` 은 비록 `Class<? extends String>` 타입을 반환할 테지만,
명시적으로 형변환을 하고 있고, 그에 대해 `Class` 클래스가 가져야 하는 필드와 메서드를 모두 가지고 있으므로,
런타임에서의 실행에서도 에러를 일으키지 않습니다.
성공을 왜 하느냐에 대한 이해는 제너릭을 전부 지우니 더 직관적으로 이해가 가더군요.

[code]

위 코드는 정상작동합니다.
제너릭이 없어서 허전한것 말고는,

[2021-02-08 11:36] kses1010 commented on #67
https://docs.oracle.com/javase/9/docs/api/java/lang/Class.html
`newInstance()` 는 deprecated 되었으니 생성자를 통해서 만드는것을 추천합니다.

[2021-02-08 11:42] ghojeong commented on #67
Class 에도 newInstance 있다는거 처음 알았는데 감사합니다!

[2021-02-08 11:58] 102092 commented on #70
https://naver.github.io/hackday-conventions-java/#class-noun

[2021-02-08 12:00] kses1010 commented on #69
https://www.baeldung.com/java-profilers

[2021-02-08 12:46] tmdgusya opened #72 "[아이템 70] 복구할 수 있는 상황에는 검사 예외를, 프로그래밍 오류에는 런타임 예외를 사용하라"

[2021-02-08 12:46] tmdgusya opened #73 "[아이템 71] 필요 없는 검사 예외 사용은 피하라"

[2021-02-08 12:48] tmdgusya opened #74 "[아이템 72] 표준 예외를 사용하라"

[2021-02-08 12:48] tmdgusya opened #75 "[아이템 73] 추상화 수준에 맞는 예외를 던져라"

[2021-02-08 12:49] tmdgusya opened #76 "[아이템 74] 메서드가 던지는 모든 예외를 문서화하라"

[2021-02-08 12:49] tmdgusya opened #77 "[아이템 75] 예외의 상태 메시지에 실패 관련 정보를 담으라"

[2021-02-08 12:50] tmdgusya opened #78 "[아이템 76] 가능한 한 실패 원자적으로 만들라"

[2021-02-08 12:50] tmdgusya opened #79 "[아이템 77] 예외를 무시하지 말라"

[2021-02-08 12:52] tmdgusya opened #80 "[아이템 78] 공유 중인 가변 데이터는 동기화해 사용하라"

[2021-02-08 12:56] #71 closed, assigned to 102092

[2021-02-09 04:07] kses1010 opened #81 "[Opinion] 이펙티브 자바 다음 스터디 아이템 추천하기"
답글로 아무 의견 부탁드립니다.

[2021-02-09 05:35] kses1010 commented on #81
저의 의견
1. 스프링을 하겠다 -> 토비의 스프링
2. 알고리즘을 하겠다 -> 알고리즘(로버트 세지윅) -> 최종목표: 코드 포스 랭크 그래이(Wls)에서 블루까지(회사 코테 다 뚫는 마지노선)
3. 자바 병렬 프로그래밍 -> 브라이언 게츠 저서 [자바 병렬 프로그래밍](http://www.yes24.com/Product/Goods/3015162) 자바의 병렬 프로그래밍 도서하면 이 책을 추천을 많이 함. 다만 번역서는 평이 좋지 않음.
4. 클린코드 or 클린 소프트웨어(로버트 C. 마틴) -> 저는 클린 소프트웨어 추천합니다. 책 내용에 애자일, TDD, 패턴까지 전부 아우르는 내용이 있으며 예시도 적절합니다.

[2021-02-09 05:52] #69 closed, assigned to tmdgusya

[2021-02-09 07:35] kses1010 commented on #81
5. 오브젝트 또는 객체 지향 관련 도서를 통한 객체 지향 스터디

[2021-02-09 14:16] tmdgusya commented on #81
1. 토비의 스프링 1권
2. HTTP 완벽 가이드
3. DB 스터디 -> 흐음 그런데 이건 너무 애매할것 같기도해서 하네요. 책 같은 경우에도 무언가 같이 공유해서 공부할 수 있을까? 라는 생각이 드네요. 저희가 성능 튜닝 정도까지 가지 않는이상?

[2021-02-10 00:48] #67 closed, assigned to ghojeong

[2021-02-10 00:54] ghojeong commented on #81
저는 개인적으로 `HTTP 완벽 가이드` 는 비추합니다. 책도 구매해서 읽어봤는데 별로 재미도 없고 졸립니다.
차라리 소켓 프로그래밍 쪽을 공부해서 연습해보거나 (요즘 핫한 웹소켓을 활용한 WebRTC 라던가),
네트워크 이론 자체를 공부하는게 좋지 않을까 싶습니다.

DB 스터디 같은 경우는 Sunny 님이 추천하신 무지개 곰돌이 책이나,
David 님이 지금 한참 수업듣고 계시는 버클리 대학의 수업자료 공유해서 복습하면 어떨지 제안해봅니다.
어차피 David 님 중간고사나 기말고사 준비하실 것 같은데,
준비하는 겸 저희랑 수업내용 다시 복습하면 좀 더 깊게 공부할 수 있지 않을까요?
물론 공유로 인해 저작권 문제가 있을 경우에는 발언 취소하겠습니다.

[2021-02-10 10:50] 102092 commented on #72
검사 예외란 단어는 정확히 무엇을 의미하는 걸까요?
-> 아 checked exception을 번역한 게 검사 예외 인것 같네요..

[2021-02-10 10:52] 102092 commented on #72
예외에 대해 한번 훝어보기 좋은 포스팅 : https://sjh836.tistory.com/122

[2021-02-10 11:39] 102092 commented on #72
어떤 걸 의미하는 걸까요?
최상위 클래스(throwable)만 받아서, 자신만의 예외를 만들어내는 것을 의미하는 걸까요?

[2021-02-10 12:26] 102092 commented on #73
스트림에서 검사 예외를 던지는 메서드를 사용할 수 없다에 대해 찾아보다가 재밌는 포스팅을 발견했습니다~
https://www.baeldung.com/java-lambda-exceptions

[2021-02-10 12:28] 102092 commented on #74
이 아이템을 읽으면서 아래 포스팅도 참고하시면 도움이 될 듯 합니다.
https://www.baeldung.com/java-common-exceptions

[2021-02-10 12:30] 102092 commented on #74
두 예외에 대한 차이를 언급해준 면이 재밌네요

[2021-02-10 12:39] #68 closed, assigned to david215

[2021-02-14 07:02] tmdgusya commented on #72
제 생각에는 아마 그렇게 생각되는데, 혹시 어떤 의미인가요??
아래 방식과 같이 사용하는것이 아닐까요?
[code]

[2021-02-14 07:40] tmdgusya commented on #80
읽기전 참고하면 좋은 글입니다.

https://parkcheolu.tistory.com/14

[2021-02-16 02:49] ghojeong commented on #81
@kses1010  의견을 참고해서, 저도 책 정리해봅니다.

1. 스프링 -> <토비의 스프링>
2. 알고리즘 -> 종만북 <알고리즘 문제 해결 전략> (코드 포스 랭커에 도전하는 거 저도 흥미가 돋네요)
3. 객체지향 -> 조영호의 <오브젝트>
4. DDD -> 에릭 에반스의 <도메인 주도 설계>
5. 클린 소프트웨어 > 클린 아키텍처 > 클린 코드 (왼쪽이 더 읽고 싶은 책이네요)

[2021-02-16 02:51] tmdgusya commented on #81
요즘 개인적으로 알고리즘이 뭔가 재밌네요 ㅋㅋㅋ 알고리즘 풀다가 자바언어를 더 공부하게 되는 느낌?

[2021-02-16 02:52] kses1010 commented on #81
알고리즘이면 역시 로버트 세지윅의 알고리즘 추천! 자바로 되어있으니 자바랑 알고리즘과 두마리 토끼를 잡을 수 있습니다

[2021-02-16 09:46] tmdgusya commented on #80
자바 메모리 모델에 관련된 좋은글!

https://medium.com/@qwefgh90/jsr-133-java-memory-model-faq-%EB%B2%88%EC%97%AD-128487aebc1e

[2021-02-16 10:42] #70 closed, assigned to kses1010

[2021-02-16 14:01] 102092 commented on #75
여기서 '저수준 예외'는  Exception 같은 예외가 아닌, 이 하위인 발생할 수 있는 특정 예외를 말하는 것이고,
'추상화 수준에 맞는 예외' 란 구체화된 에러 혹은 커스텀 에러를 던지라는 말 같은데 제가 이해한바가 맞을까요?

[2021-02-16 14:09] 102092 commented on #73
checked expection를 어떻게 다뤄야할지에 대해 읽어볼만한 포스팅입니다.
https://cheese10yun.github.io/checked-exception/

[2021-02-16 14:14] 102092 commented on #76
읽으면서 생기는 몇가지 궁금증들에 대한 예시를 찾아보다 보니, 아래 포스팅이 도움이 되었습니다.
https://calgaryhomeless.tistory.com/26

[2021-02-16 14:21] 102092 commented on #77
예외 생성자에 필요한 정보를 담아서 생성하는 방법을 새롭네요.
예외 추적에 도움이 될 것 같다는 생각이 듭니다.

[2021-02-16 14:32] 102092 commented on #78
https://stackoverflow.com/questions/29842845/what-is-failure-atomicity-used-by-j-bloch-and-how-its-beneficial-in-terms-of-i
failure-atomic에 대한 간단한 글입니다.
해당 아이템에서 잘 설명해주고 있어서 굳이 안 읽어봐도 될듯 하지만, 이 포스팅은 좀 더 간단하게 설명해주고 있는 것 같네요

[2021-02-19 06:35] tmdgusya commented on #78
아이템 17 내용과 연관지어서 읽어도 좋을내용이네요

[2021-02-21 09:01] 102092 commented on #80
https://parkcheolu.tistory.com/14

조금 읽기 어려운 아이템 같은데, 이 글과 같이 보니까 도움이 되네요! 감사합니다

[2021-02-21 09:14] 102092 commented on #81
원래 스터디 마감일이 4월 11일 입니다.
그래서 가능한 4~5월 중으로 마무리 될 수 있는 주제를 잡으면 좋겠다는 생각이 들었습니다.

1.  [백기선 자바 스터디](https://www.youtube.com/watch?v=peEXNN-oob4&list=PLfI752FpVCS96fSsQe2E3HzYTgdmbz6LU)
- 현재 12주차 정도 진행되고 있는데, 한번 처음부터 따라갔으면 합니다. (저희는 한주에 2주정도 분량을 목표로..)
- 너무 어렵지 않으면서, 자바 기본을 다질 수 있는 기회가 되지 않을까 생각합니다.
- 교보재 (유투브) +  다른 분들 것도 참고 가능..하다는 이점이 있습니다.

2. [리팩토링](https://www.aladin.co.kr/shop/wproduct.aspx?ItemId

[2021-02-21 14:30] tmdgusya commented on #81
오 개인적으로 백기선님 자바 스터디 좋다고 생각됩니다.
예전부터 한번 해봐야지 했었는데, 이번 스터디로 하게되면 괜찮을 것 같다고 저는 생각합니다

[2021-02-22 06:20] ghojeong commented on #72
원어로된 책을 찾아봤는데, checked exception 를 검사 예외라는 한국말로 번역한게 맞더라고요.

![checed-exception](https://user-images.githubusercontent.com/38595650/108670816-d8b4d680-7522-11eb-956e-2e0c00980c9d.png)

[2021-02-22 06:29] ghojeong commented on #72
저도 동일한 의미로 이해했습니다. 그리고 extends Throwable 을 절대로 하지 말라는 의미로 책을 읽었습니다.
실제로 사용을 해보니, 그냥 extends Throwable 을 하기만 해도, try/catch 구문을 강제하더군요.
그렇다하더라도, 구체적인 하위 Checked Exception 클래스를 찾아내어서 에러를 발생시키도록 하라고 이해했습니다.

[2021-02-22 13:05] ghojeong commented on #81
깊게 공부하고 싶은 주제

1순위: DB (혼자서는 잘 안된다. 특히 트랜잭션 관련해서 이론적으로 깊게 공부할 필요성을 느낀다.)
2순위: k8s (인프라 관련 지식)
3순위: 코틀린 (자바 개발자로서, 공부해두면 좋지 않을까)

[2021-02-22 13:12] #79 closed, assigned to 102092

[2021-02-22 13:12] #78 closed, assigned to 102092

[2021-02-22 13:27] #80 closed, assigned to tmdgusya

[2021-02-23 01:05] tmdgusya commented on #81
어제 이야기 듣다보니 저는 오브젝트라는 책을 해보고 싶긴하네요.
개인적으로 코드들도 많고, 객체지향에 관한 내용들을 담고 있어서 스터디 해보고 싶네요.

[2021-02-23 01:33] tmdgusya opened #82 "[아이템 79] 과도한 동기화는 피하라"

[2021-02-23 01:34] tmdgusya opened #83 "[아이템 80] 스레드 보다는 실행자, 태스크, 스트림을 애용하라"

[2021-02-23 01:36] tmdgusya opened #84 "[아이템 81] wait 와 notify 보다는 동시성 유틸리티를 애용하라"

[2021-02-23 01:37] tmdgusya opened #85 "[아이템 82] 스레드 안전성 수준을 문서화하라"

[2021-02-23 01:38] tmdgusya opened #86 "[아이템 83] 지연 초기화는 신중히 사용하라"

[2021-02-23 01:38] tmdgusya opened #87 "[아이템 84] 프로그램의 동작을 프로세스 스케줄러에 기대지 말라"

[2021-02-23 10:25] #72 closed, assigned to ghojeong

[2021-02-23 10:25] #73 closed, assigned to ghojeong

[2021-02-25 09:29] tmdgusya commented on #80
long 과 double 혹은 dynamic-computed constant 의 경우 constant pool 에서 해당 index 를 참조하여 가져오는 과정이 포함되어 있어서 해당 과정에서 다른 Thread 가 끼어들 수 있기에 원자적 수행을 보장하지 못한다고 생각하는게 좋지 않을까 싶다.

실제로 byte Code 상에서 ldc2_w 라는 로직을 추가적으로 진행하는데 해당 내용이 위의 내용이다.

[2021-02-26 08:44] ghojeong commented on #81
오늘 문득 생각이 들었는데, "토비의 스프링" 1권 완독하는거 다같이 도전해보면 어떨까 합니다.
결국 Spring 으로 경력을 쌓을 거면 필독서 인것 같은데, 혼자서는 도저히 읽을 엄두가 나지 않아서요.

[2021-02-26 13:21] 102092 commented on #82
왜 그렇게 진행되지 않는 이유에 대해 적혀있는 데, 잘 이해가 안되네요.
같이 이야기 나눠보면 좋을 듯 합니다.

이 문구가 특히 어떤 말인지 감이 잘 오지 않네요

[2021-02-26 13:28] 102092 commented on #82
이 문구도 잘 모르겠네요..

[2021-02-26 13:38] 102092 commented on #83
https://www.baeldung.com/java-fork-join
fork-join에 대해 읽어보면 좋은 글입니다!

[2021-02-26 13:52] han0102 commented on #84
https://www.vogella.com/tutorials/JavaConcurrency/article.html
동시성이라는 개념에 대해 알아보다가 발견했습니다.
이 챕터에서 다루고 있는 개념들에 대해 기본적으로 다시 되집어 보는데 도움이되는 문서라고 생각됩니다.

[2021-02-26 14:11] 102092 commented on #84
https://www.vogella.com/tutorials/JavaConcurrency/article.html
동시성이라는 개념에 대해 알아보다가 발견했습니다.
이 챕터에서 다루고 있는 개념들에 대해 기본적으로 다시 되집어 보는데 도움이되는 문서라고 생각됩니다.

[2021-02-26 14:12] 102092 commented on #84
여기 예시로 작성된 프레임워크를 사용한 예시 코드는 어떤 것이 있을까요?

[2021-02-28 04:30] tmdgusya commented on #82
# 답변

### 도움이 되실줄은 모르겠으나 저는 디버깅을 통해 하나하나 분석해봐서 발생하는 이유를 알아내긴했습니다.

## ConcurrentModificationException ?

- 해당 컬렉션 객체의 일관성에 대해 비 정상적인 환경으로 될 수 있을 경우 해당 Exception 이 발생함.
- Effective Java 에서 나온 내용은 이제 `Observable` 이란 코드 기반으로 이루어지는데,

## Effective Java 예제

- 이제 main에서 `ObservableSet` 를 생성후 element 를 add 할때 원소가 Set 에 추가되면서 이제 `addNotifyElement` 구독자들에게 원소가 추가됬다는 사실을 알려주기 위해서 이제 callback 함수인 `added` 가 발생

[2021-02-28 05:18] tmdgusya commented on #82
## 조금더 직관적인 설명을 하자면

`ArrayList.java` 안의 private class Itr implements Iterator<E> 을 계속해서 호출해 오는데 우리가 처음에 add 를 해서 expecteModCount 한 값이 들어가고, 그 다음에 이제 remove 가 콜백되어 modCount++ 이 되어 오류가 나는것이다 .  음 Enhanced for loop 도 아래와 상당히 흡사하게 돌아가거나 (같을 것이므로 아래 코드를 예시로 들면) 처음에 modCount 가 들어가는데 이때는 add 가 되어 1 이 들어가있을텐데 그 도중에 remove 가 발생되어 2가 될테고, 결국 마지막 `if (modCount != expectedModCount)` 에 걸려서 `ConcurrentModifica

[2021-02-28 06:27] tmdgusya commented on #82
이건 해당 내용에 관한 글인데 저도 이해하는데 조금 어렵긴 한데 코드에 설명이 잘 되어있네요.
계속 읽어보고 따라해보면서 이해해봐야 할듯 합니다.

https://parkcheolu.tistory.com/24

[2021-03-01 02:28] ghojeong commented on #84
좋은 문서 링크 감사합니다!
동기화(synchronize) 와 동시성(concurrency) 가 전혀 다른 개념인데, 한국어로 하면 발음이 비슷해서 읽다보면 엄청 헷갈리네요.
이 파트는 발음이 비슷한 한자어 때문에, 영어 원문으로 읽는게 훨씬 읽기 쉽고 이해가 잘 되는 것 같습니다.

[2021-03-01 03:46] ghojeong commented on #84
저라면 작성한 함수의 벤치 마크를 할 때 유용할 것 같습니다.
Item81 에 나온 String.intern 과 커스텀 intern 을 병렬로 실행했을 때의 차이를 보여줄 때도 편리할것 같네요.
근데 저라면 굳이 사용안하고, 편안하게 [제니퍼 소프트의 모니터링 솔루션](https://jennifersoft.com/ko/product/java/) 을 도입하자고 주장할 것 같습니다.

[2021-03-01 04:27] ghojeong commented on #84
책에 나온 2가지 intern 예시의 동시 실행 시간을 재보도록 예시 코드를 만들어보았는데,
미팅시간에 공개 후 커밋해서 푸시할 수 있도록 하겠습니다.

<img width="1145" alt="스크린샷 2021-03-01 오후 1 23 35" src="https://user-images.githubusercontent.com/38595650/109451727-66e40c00-7a91-11eb-8bce-794cd59094df.png">

[2021-03-01 05:00] tmdgusya commented on #81
저도 개인적으로 토비의 스프링을 공부해보면 좋겠다라는 생각이 드네요. 저거 혼자서 하려니 숨이 턱턱막힙니다. 개인적으로 4장까지 한번 했었는데 잘 기억도 안나고, 같이하면 확실히 좋을 것 같네요!

[2021-03-01 13:06] tmdgusya commented on #84
아마 Han 이 이야기하는건 어떤 코드인지 한번 보고싶다는 뜻 같다고 저는 이해가 되네요
제 생각에 Effectvie Java 434 쪽에 나오는 코드가 해당 카운트 다운을 해주는 코드의 예시라고 생각이 됩니다.

[2021-03-01 13:13] tmdgusya commented on #84
개인적으로 이번 장에서 loop 안에서 wait() 을 호출하라는게 모르고 있던 방식이라 그런지 참신하네요.
생각해보니 조건을 만족하지 않았는데 해당 객체에 lock 을 걸고 있던 method 가 notify 로 깨우면 조건이 맞지 않는데도 깨워질 수도 있다는
생각을 처음으로 해보게 되었네요.

[2021-03-03 13:59] 102092 commented on #82
@tmdgusya 예시코드를 작성해보고, 설명해주신 걸 보니까 이해가 좀 되네요! 감사합니다

[2021-03-03 14:00] 102092 commented on #85
문서화는 항상 중요하다고 생각하지만.. 일반 서비스정도 에서도 스레드 안전성에 대해 문서화를 하는게 필요할까요?
어떻게 생각하시는 지 이야기 나눠보면 좋을 것 같습니다!

[2021-03-03 14:21] 102092 commented on #86
지연 초기화하니, spring에 lazy loading에 대해 생각이 나네요!
- https://www.baeldung.com/spring-boot-lazy-initialization
- https://www.baeldung.com/hibernate-lazy-eager-loading
이 두가지가 지연 초기화에 대해 조금 더 알아보기 좋아보입니다!

[2021-03-03 14:58] 102092 commented on #86
synchronize 를 사용해도 volatile을 사용해하는 걸까..?
- 이전 아이템에서 나온 부분인데, 읽다보니 다시 궁금해졌습니다.
- 다시 정리해보려 합니다!

[2021-03-04 12:54] 102092 commented on #87
운영체제 마다 프로세스 스케쥴러가 스레드를 다루는 방식이 다를 수 있으니..
개발자는 이런 정책에 좌우대지 않는 프로그램을 만들어야하고,
이를 위해서는 실행 가능한 평균적인 스레드 수를, 프로세서 수보다 지나치게 만들지 않도록 해야한다..가 핵심인듯 한데
맞을까요?

[2021-03-08 01:13] tmdgusya commented on #85
@102092 이 부분은 조금 애매한것 같네요. 라이브러리라면 명시해주는것이 좋을것 같은데..
근데 좋을수도 있다고 생각하는것이, 문제가났을때 해당 어노테이션이나 문서자료를 보고 해당 조건에의해 문제가 발생하는지
알수 있을것 같아서 좋은 방향이라고 생각합니다.

[2021-03-08 07:57] #76 closed, assigned to david215

[2021-03-08 07:57] #77 closed, assigned to david215

[2021-03-08 10:36] david215 commented on #87
말씀하신게 맞다고 생각합니다. 덧붙이자면 "실행 가능"한 스레드들이 유의미한 일들을 하고 있어야겠죠. 예시에 나오는 SlowCountDownLatch처럼 busy-waiting을 하고 있으면 안 되고요.

[2021-03-08 12:44] 102092 commented on #86
- https://link.springer.com/content/pdf/10.1007/3-540-45739-9_5.pdf
- 1,2페이지!

[2021-03-08 13:03] ghojeong commented on #81
전 토비의 스프링 최종 확정입니다.

[2021-03-08 13:19] tmdgusya commented on #84
https://javabom.tistory.com/35
같이 읽어보면 좋은글입니다.

[2021-03-08 13:19] tmdgusya commented on #86
David 이 Study 중 올렸던 링크
https://link.springer.com/content/pdf/10.1007/3-540-45739-9_5.pdf

[2021-03-08 14:18] #74 closed, assigned to kses1010

[2021-03-08 14:18] #75 closed, assigned to kses1010

[2021-03-09 05:17] tmdgusya opened #88 "[아이템 85] 자바 직렬화의 대안을 찾으라"

[2021-03-09 05:17] tmdgusya opened #89 "[아이템 86] Serializable 을 구현할지는 신중히 결정하라"

[2021-03-09 05:18] tmdgusya opened #90 "[아이템 87] 커스텀 직렬화 형태를 고려해보라"

[2021-03-09 05:18] tmdgusya opened #91 "[아이템 88] readObject 메서드는 방어적으로 작성하라"

[2021-03-09 05:19] tmdgusya opened #92 "[아이템 89] 인스턴스 수를 통제해야 한다면 readResolve 보다는 열거 타입을 사용하라"

[2021-03-09 05:20] tmdgusya opened #93 "[아이템 90] 직렬화된 인스턴스 대신 직렬화 프록시 사용을 검토하라"

[2021-03-09 05:28] #84 closed, assigned to ghojeong

[2021-03-09 05:45] #82 closed, assigned to tmdgusya

[2021-03-09 12:06] #86 closed, assigned to 102092

[2021-03-09 12:06] 102092 commented on #81
최종!

- 백기선 자바 스터디

[2021-03-09 12:09] tmdgusya commented on #81
최종
- 토비 스프링 6장(AOP 포함) 정도까지?

[2021-03-11 00:30] kses1010 commented on #81
최종
- 토비의 스프링
- 오브젝트
둘 중에 아무거나 가능

[2021-03-11 12:37] 102092 commented on #88
- 분산 객체란 말이 나오는데 어떤 의미일까요?

[2021-03-11 12:47] 102092 commented on #88
자바 직렬화에 대해 전반적으로 이해하는데 도움이 될 것 같습니다.
- https://ryan-han.com/post/java/serialization/

[2021-03-11 12:48] 102092 commented on #89
- 단순히 이 문장만 봐서는 이해가 힘드네요. 이 문구는 어떤 걸 의미하는 걸까요..?

[2021-03-11 12:57] 102092 commented on #89
p457 나온 readObjectNoData method에 대해 더 이해하기 위해서, 아래 포스팅이 도움이 될 것 같습니다.
- https://stackoverflow.com/questions/7445217/java-when-to-add-readobjectnodata-during-serialization

[2021-03-11 13:10] 102092 commented on #90
해당 아이템을 이해하는 조금 도움이 될 것 같습니다.
- https://madplay.github.io/post/what-is-readobject-method-and-writeobject-method

[2021-03-15 09:04] tmdgusya commented on #88
하나의 프로세서나 컴퓨터에서 실행되는 객체가 다른 프로세서나 컴퓨터에서 객체와 통신이 가능 하도록 하는 기술이 분산 객체 기술 이라고 하네요. 쉽게 얘기하면 직렬화 자체가 다른 JVM 과 통신할 수 있도록 하는 것이니..

아래 참고글입니다.

http://ojc.asia/bbs/board.php?bo_table=LecJavaNet&wr_id=12

[2021-03-15 09:05] tmdgusya commented on #88
이번장은 사실 뭔가 배우기 보다는, **직렬화는 사용하지말고 JSON 같은 하나의 통신 형태 방법들로 통신해!** 라는 느낌이 강하네요.

[2021-03-15 13:22] #85 closed, assigned to kses1010

[2021-03-15 14:32] kses1010 commented on #88
여기서 프로토콜 버퍼는 gRPC를 이야기하는 것 같군요.

[2021-03-16 12:15] tmdgusya commented on #91
간단히 읽어보면 50장의 내용과 일맥상통 하네요.

이건 역직렬화 했을때의 상황이고..

[2021-03-16 12:41] kses1010 commented on #89
우아한 형제들 기술 블로그
https://woowabros.github.io/experience/2017/10/17/java-serialize2.html

[2021-03-16 12:55] 102092 commented on #92
p475쪽 일련의 과정이 잘 이해가 안되네요. 뒤에 코드를 보면 어떻게 작동하는지 어렴풋이 이해할 수 있긴 한데.. 한번 이야기 나눠보는 것도 좋을 것 같습니다.

[2021-03-16 13:39] 102092 commented on #91
readObject가 역직렬화 시 하나의 생성자 역할을 하는 것 같은데, 개발자가 잘 놓칠 수 있는 부분이여서 이런 아이템이 나오지 않았나 싶네요.

[2021-03-16 13:54] tmdgusya commented on #91
맞아요 잘 놓칠 수 있는 부분이라 나온것 같네요.
이 경우 앞 챕터에서 나온 예제 처럼 외부로 부터의 공격을 당하기 쉬운 부분이라 그런것 같네요.
50장에서는 외부의 공격이 잘 이해가 가지 않았는데.. 이번 직렬화 장을 보니 외부에서 해당 바이트 스트림을 해킹해서 바이트를 바꾸는건지?
여하튼 그런식으로 영향을 끼칠 수 있나보네요.

[2021-03-17 12:37] 102092 commented on #89
- GC순간에, finalize 메서드가 실행되므로 어떤 파생적인 일이 벌어질지 모르기 때문에 하위 클래스에서 재정의하지 못하도록 해야한다.

[2021-03-17 22:26] #92 closed, assigned to ghojeong

[2021-03-22 13:04] #90 closed, assigned to 102092

[2021-03-23 06:53] #91 closed, assigned to tmdgusya

[2021-03-23 12:51] #88 closed, assigned to kses1010

[2021-03-23 12:51] #89 closed, assigned to kses1010

[2021-05-10 13:48] #81 closed, assigned to david215, 102092, ghojeong, kses1010, tmdgusya

[2021-10-01 11:44] #83 closed, assigned to david215

[2021-10-01 11:44] #87 closed, assigned to david215

[2021-10-01 11:44] #93 closed, assigned to david215